<!DOCTYPE html>
<html>

<head>
	<title>{{title}}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial scale-1">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/slider.css">
	<script src='https://kit.fontawesome.com/a076d05399.js'></script>
	<script src="js/main.js"></script>
	<script src="js/start.js"></script>
</head>

<body theme="light">
	<div id="header">
		<div class="container">
			<div class="nav1">
				<div class="logo">
					<img src="img/logo.png" id="logoicon">
					<a href="/"> &nbsp; Hail IIEST</a>
				</div>
				<div class="navbutton">
					<i class="fas fa-bars" onclick="togglenav()"></i>
				</div>
				<div class="navlinks">
					<a href="/login">Login</a>
					<a href="/register">Register</a>
				</div>
			</div>
			<div class="nav2 hidden">
				<a href="/" class="active"><i class="fas fa-home"> &nbsp; </i> Home</a>
				<a href="/front"><i class="fab fa-blogger-b"> &nbsp; </i> Blogs</a>
				<a href="/library"><i class="far fa-building"> &nbsp; </i> Library</a>
				<a href="/team"><i class="fas fa-info-circle"> &nbsp; </i> About Us</a>
				<a href="/"><i class="fas fa-phone-alt"> &nbsp; </i> Contact</a>
				<a href="/"><i class="fas fa-comment-dots"> &nbsp; </i> Feedback</a>
				<a href="/terms"><i class="fas fa-user-shield"> &nbsp; </i>Privacy</a>
				<!-- <a onclick="toggletheme"> <i class="far fa-sun"> &nbsp; </i> Change theme </a> -->
				<div style="display: flex; align-items: center;padding: 10%">
					<i class="far fa-sun" id="theme" aria-hidden="true"></i>
					<div class="on-off-toggle">
						<input class="on-off-toggle__input" onchange="toggletheme()" type="checkbox" id="bopis" />
						<label for="bopis" class="on-off-toggle__slider"></label>
					</div>
				</div>
			</div>
		</div>
	</div>

  {{{body}}}

	<div id="footer">
		<div class="container footcontent">
			<div class="rights">
				<i class="fa fa-copyright"></i>
				<span>IIEST 2020</span>
			</div>
			<a id="terms" href="/terms">Terms | Privacy</a>
			<div id="links">
				<a href="https://github.com/blueedgetechno/demo1245" class="fab fa-github" target="_blank"></a>
				<a href="mailto:blueedgetechno@gmail.com" class="fas fa-envelope" target="_blank"></a>
				<a href="https://youtube.com" class="fab fa-youtube" id="what" target="_blank"></a>
			</div>
		</div>
	</div>

</body>

</html>
