	<%if(locals.error!=null){%>
		<span><%=error%></span>
	<%}%>
	<div id="footer">
		<div class="container footcontent">
			<div class="rights">
				<span>&copy; theintellects</span>
			</div>
			<a id="terms" href="/terms">Terms | Privacy</a>
			<div id="links">
				<a href="https://github.com/SuMRoG/Our-first-project" class="fab fa-github" target="_blank"></a>
				<a href="mailto:blueedgetechno@gmail.com" class="fas fa-envelope" target="_blank"></a>
				<a href="https://youtube.com" class="fab fa-youtube" id="what" target="_blank"></a>
			</div>
		</div>
	</div>

</body>

</html>
