	<div id="footer">
		<div class="container footcontent">
			<div class="rights">
				<span>&copy; theintellects</span>
			</div>
			<a id="terms" href="/terms">Terms | Privacy</a>
			<div id="links">
				<a href="https://github.com/SuMRoG/Our-first-project" class="fab fa-github" target="_blank"></a>
				<a href="mailto:admin@theintellects.tech" class="fas fa-envelope" target="_blank"></a>
				<a href="https://instagram.com/the.intellects?igshid=eto8erluungn" class="fab fa-instagram" id="what" target="_blank"></a>
				<a href="https://www.facebook.com/TheIntellects1" class="fab fa-facebook" id="what" target="_blank"></a>
			</div>
		</div>
	</div>

</body>
</html>
