<form action="/add" method="post">
  <label for="author">Author</label><br>
  <input required type="text" name="author" value=""><br><br>
  <label for="title">Title</label><br>
  <input required type="text" name="title" value=""><br><br>
  <label for="snippet">Snippet</label><br>
  <input required type="text" name="snippet" value=""><br><br>
  <label>Body of the post</label><br>
  <textarea required id="body" name="body"  rows="8" cols="80" name="body"></textarea><br><br>
  <a href="/front">Cancel</a>
  <button type="submit" name="button">Post</button>
</form>
