<%- include('layouts/head.ejs') %>

<link rel="stylesheet" href="css\addblog.css">
<link rel="stylesheet" href="css\lib.css">
<link rel="stylesheet" href="css\lib2.css">
<link rel="stylesheet" href="css\markdown.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.1/showdown.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.0/build/styles/default.min.css">
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.0/build/highlight.min.js"></script>
<script type="text/javascript" src="js\addblog.js"></script>

<div id="content">
  <div class="container">
    <header class=" header23">
      <div class="text-box">
        <h1 class="qwer addheader">Add Blog</h1>
      </div>
    </header>
    <div class="optional">
      <div class="goahead">
        <button type="button" class="checked" onclick="gocode()">Code</button>
        <button type="button" onclick="gopreview()">Preview</button>
      </div>
    </div>
    <div class='werty'>
      <div id="addblogform">
        <form class="addblogform" action="/add" method="post">
          <input required type="text" class="titleinput" name="title" placeholder="Title" value="" maxlength="45">
          <input required type="text" class="subheading" name="snippet" value="" placeholder="Snippet" maxlength="90">
          <input hidden type="text" id="inputbanner" name="bannerimage" value="https://images.unsplash.com/photo-1520607162513-77705c0f0d4a?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=1600"><br>
          <div class="imageinput">
            <span>Post image </span>
            <input type="text" onchange="setbannerimage()" id="pseudoimageinput" class="subheading imageurlfield" placeholder="Type words to search or paste a url">
          </div>
          <br>
          <span id="aboutmarkdown">*You can also write in <a href="https://guides.github.com/features/mastering-markdown/" target="_blank">markdown</a> to enhance the post quality</span>
          <textarea required onchange="updatepreview()" id="blogbodyinput" class="bodyinput" name="body" rows="8" cols="80" name="body" placeholder="Start typing, your post will be sent for manual verification to avoid spamming"></textarea><br><br>
          <button type="submit" class="submitbutton" name="button">Post</button>
        </form>
      </div>

      <div class="previewcontainer" id="previewcontainer" style="display: none">
        <label id="searchoptions">Search image from <select title="image provider" id="imageprovider" class="chooseService" onchange="setbannerimage()">
            <option value="0">pixabay</option>
            <option selected value="1">Pexels</option>
            <option value="2">unsplash</option>
            <!-- <option value="3">imgur</option> -->
          </select></label>
        <div class="postimage">
          <img id="blogimagepreview" src="https://images.unsplash.com/photo-1520607162513-77705c0f0d4a?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=1600" alt="">
        </div>
        <div class="previewarea markdown-body" id="previewarea">
        </div>
      </div>
    </div>
  </div>
</div>


<%- include('layouts/foot.ejs') %>
