<%- include('layouts/head.ejs') %>

<link rel="stylesheet" href="css\addblog.css">
<link rel="stylesheet" href="css\lib.css">
<link rel="stylesheet" href="css\lib2.css">
<link rel="stylesheet" href="css\markdown.css">
<script type="text/javascript" src="js\addblog.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.1/showdown.min.js"></script>
<div id="content">
  <div class="container">
    <header class=" header23">
      <div class="text-box">
        <h1 class="qwer">add Blog</h1>
      </div>
    </header>
    <div class="options">
      <div class="goahead">
        <button type="button" class="checked" onclick="gocode()">Code</button>
        <button type="button" onclick="gopreview()">Preview</button>
      </div>
    </div>
    <div class='werty'>
      <div id="addblogform" >
        <form class="addblogform" action="/add" method="post">
          <input required type="text" class="titleinput" name="title" placeholder="Title" value="">
          <input hidden type="text" name="author" value="blue">
          <input required type="text" class="subheading" name="snippet" value="" placeholder="Snippet"><br>
          <textarea required onchange="updatepreview()" id="blogbodyinput" class="bodyinput" name="body" rows="8" cols="80" name="body" placeholder="Start typing"></textarea><br><br>
          <button type="submit" class="submitbutton" name="button">Post</button>
        </form>
      </div>
      <div class="previewarea markdown-body" id="previewarea" hidden>
      </div>
    </div>
  </div>
</div>


<%- include('layouts/foot.ejs') %>
