<%- include('layouts/head.ejs') %>
  <link rel="stylesheet" href="css\start.css">
  <link rel="stylesheet" href="css\blog2.css">
  <link rel="stylesheet" href="css\markdown.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.1/showdown.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.0/build/styles/default.min.css">
  <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.0/build/highlight.min.js"></script>
  <script type="text/javascript" src="js\blog.js"></script>

<div id="content">
  <div class="container">
    <header class="header0">
      <div class="brand-box">
        <span class="brand">Author</span>
      </div>
      <div class="text-box">
        <h1 class="qwer" >Title dalege yaha</h1>
        <p>Yha pr snippet rahega pura ka pura </p>
      </div>
      </header>
      <div class="column188">
        <img src="/img/be.jpg">
      </div>
      <div class="column189">
        hello
        <!-- <div class="data">
          <h3>Hello</h3>
        </div> -->
      </div>
  </div>
</div>

<%- include('layouts/foot.ejs') %>
