<%- include('layouts/head.ejs') %>

<link rel="stylesheet" href="css\start.css">
<link rel="stylesheet" href="css\lib.css">
<link rel="stylesheet" href="css\lib2.css">
<link rel="stylesheet" href="css\post.css">
<div id="content">
  <div class="container">
    <header class=" header23">
      <div class="text-box">
        <h1 class="qwer">add Blog</h1>
      </div>
    </header>
    <div class='wert'>
    <form action="/add" method="post">
      <%- include('add')%>
</div>
  </div>
</div>


<%- include('layouts/foot.ejs') %>
