<%- include('layouts/head.ejs') %>

<link rel="stylesheet" href="css\start.css">
<link rel="stylesheet" href="css\lib.css">
<link rel="stylesheet" href="css\lib2.css">

<div id="content">
  <div class="container">
    <header class=" header23">
      <div class="text-box">
        <h1 class="qwer">Connect</h1>
        <a href="#">Explore</a>
      </div>
      </header>


</div>
</div>

<%- include('layouts/foot.ejs') %>
