<%- include('layouts/head.ejs') %>

<link rel="stylesheet" href="css\start.css">
<link rel="stylesheet" href="css\lib.css">
<link rel="stylesheet" href="css\connect.css">
<script type="text/javascript" src="js\connect.js"></script>
<div id="content">
  <div class="container">
    <header class=" header23">
      <div class="text-box">
        <h1 class="qwer">Connect</h1>
      </div>
    </header>

    <div class="parent">
      <div class="baby">
        <summary onclick="myfunction(this)"> <img src="img/sm.jpeg"> <span> Sujal Modanwal</span> </summary>
        <div class="wesr">
          <h4>Department</h4>
          <p>Computer Science and Technology</p>
          <h4>Hobbies</h4>
          <p>Dancing, Coding and Football
          <p>
          <h4>About</h4>
          <p>i AM that kind of person who is loves his friends and kills his enemies..
            ..To contact me, tmhe mjhe dhundna pdega...hahahaha</p>
        </div>
      </div>
      <div class="baby">
        <summary onclick="myfunction(this)"> <img src="img/rh.jpg"> <span> Rohan Gupta </span></summary>
        <div class="wesr">
          <h4>Department</h4>
          <p>Computer Science and Technology</p>
          <h4>Hobbies</h4>
          <p>Coding and Engineering Drawing
          <p>
          <h4>About</h4>
          <p>i AM that kind of person who is loves his friends and kills his enemies..
            ..To contact me, tmhe mjhe dhundna pdega...hahahaha</p>
        </div>
      </div>
      <div class="baby">
        <summary onclick="myfunction(this)"> <img src="https://media-exp1.licdn.com/dms/image/C5603AQEwmaFeiGlCYg/profile-displayphoto-shrink_200_200/0?e=1604534400&v=beta&t=GRzLbRC_sC_JlQt5Yk6RBvXHJHfYvQoU6koT9iUNpJE"> <span> Rahul Halder </span> </summary>
        <div class="wesr">
          <h4>Department</h4>
          <p>Computer Science and Technology</p>
          <h4>Hobbies</h4>
          <p>Dancing, Coding and Football
          <p>
          <h4>About</h4>
          <p>i AM that kind of person who is loves his friends and kills his enemies..
            ..To contact me, tmhe mjhe dhundna pdega...hahahaha</p>
        </div>
      </div>
      <div class="baby">
        <summary onclick="myfunction(this)"> <img src="img/sm.jpeg"> <span> Sujal Modanwal</span></summary>
        <div class="wesr">
          <h4>Department</h4>
          <p>Computer Science and Technology</p>
          <h4>Hobbies</h4>
          <p>Dancing, Coding and Football
          <p>
          <h4>About</h4>
          <p>i AM that kind of person who is loves his friends and kills his enemies..
            ..To contact me, tmhe mjhe dhundna pdega...hahahaha</p>
        </div>
      </div>
      <div class="baby">
        <summary onclick="myfunction(this)"> <img src="img/sm.jpeg"> <span> Sujal Modanwal</span></summary>
        <div class="wesr">
          <h4>Department</h4>
          <p>Computer Science and Technology</p>
          <h4>Hobbies</h4>
          <p>Dancing, Coding and Football
          <p>
          <h4>About</h4>
          <p>i AM that kind of person who is loves his friends and kills his enemies..
            ..To contact me, tmhe mjhe dhundna pdega...hahahaha</p>
        </div>
      </div>
      <div class="baby">
        <summary onclick="myfunction(this)"> <img src="img/sm.jpeg"> <span> Sujal Modanwal</span></summary>
        <div class="wesr">
          <h4>Department</h4>
          <p>Computer Science and Technology</p>
          <h4>Hobbies</h4>
          <p>Dancing, Coding and Football
          <p>
          <h4>About</h4>
          <p>i AM that kind of person who is loves his friends and kills his enemies..
            ..To contact me, tmhe mjhe dhundna pdega...hahahaha</p>
        </div>
      </div>
      <div class="baby">
        <summary onclick="myfunction(this)"> <img src="img/sm.jpeg"> <span> Sujal Modanwal</span></summary>
        <div class="wesr">
          <h4>Department</h4>
          <p>Computer Science and Technology</p>
          <h4>Hobbies</h4>
          <p>Dancing, Coding and Football
          <p>
          <h4>About</h4>
          <p>i AM that kind of person who is loves his friends and kills his enemies..
            ..To contact me, tmhe mjhe dhundna pdega...hahahaha</p>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('layouts/foot.ejs') %>
