<%- include('layouts/head.ejs') %>

<link rel="stylesheet" href="css\start.css">
<link rel="stylesheet" href="css\lib.css">
<link rel="stylesheet" href="css\connect.css">
<script type="text/javascript" src=js\connect.js"></script>
<div id="content">
  <div class="container">
    <header class=" header23">
      <div class="text-box">
        <h1 class="qwer">Connect</h1>
        <a href="#">Explore</a>
      </div>
    </header>

<div class="parent">
  <br><br><br><br><br><br><br>
  <div class="baby">
      <summary> Sujal Modanwal <button onclick="myFunction()">Know More</button></summary>
      <div class="wesr" id="hid">
        <h4>Department</h4>
        <p>Computer Science and Technology</p>
        <h4>Hobbies</h4>
        <p>Dancing, Coding and Football<p>
        <h4>About</h4>
        <p>i AM that kind of person who is loves his friends and kills his enemies..
          ..To contact me, tmhe mjhe dhundna pdega...hahahaha</p>
      </div>
  </div>
  <div class="baby">
    <summary> Rohan Gupta<button onclick="myfunction()"> Know More</button></summary>
    <div class="wesr" id="hid">
        <h4>Department</h4>
        <p>Computer Science and Technology</p>
        <h4>Hobbies</h4>
        <p>Coding and Engineering Drawing<p>
        <h4>About</h4>
        <p>i AM that kind of person who is loves his friends and kills his enemies..
          ..To contact me, tmhe mjhe dhundna pdega...hahahaha</p>
      </div>
  </div>
  <div class="baby">
    <summary>Rahul Halder  <button onclick="myfunction()"> Know More</button></summary>
    <div class="wesr" id="hid">
        <h4>Department</h4>
        <p>Computer Science and Technology</p>
        <h4>Hobbies</h4>
        <p>Dancing, Coding and Football<p>
        <h4>About</h4>
        <p>i AM that kind of person who is loves his friends and kills his enemies..
          ..To contact me, tmhe mjhe dhundna pdega...hahahaha</p>
      </div>
  </div>
  <div class="baby">
      <summary> Sujal Modanwal <button onclick="myfunction()"> Know More</button></summary>
      <div class="wesr" id="hid">
        <h4>Department</h4>
        <p>Computer Science and Technology</p>
        <h4>Hobbies</h4>
        <p>Dancing, Coding and Football<p>
        <h4>About</h4>
        <p>i AM that kind of person who is loves his friends and kills his enemies..
          ..To contact me, tmhe mjhe dhundna pdega...hahahaha</p>
      </div>
  </div>
  <div class="baby">
      <summary> Sujal Modanwal <button onclick="myfunction()"> Know More</button></summary>
      <div class="wesr" id="hid">
        <h4>Department</h4>
        <p>Computer Science and Technology</p>
        <h4>Hobbies</h4>
        <p>Dancing, Coding and Football<p>
        <h4>About</h4>
        <p>i AM that kind of person who is loves his friends and kills his enemies..
          ..To contact me, tmhe mjhe dhundna pdega...hahahaha</p>
      </div>
  </div>
  <div class="baby">
      <summary> Sujal Modanwal <button onclick="myfunction()"> Know More</button></summary>
      <div class="wesr" id="hid">
        <h4>Department</h4>
        <p>Computer Science and Technology</p>
        <h4>Hobbies</h4>
        <p>Dancing, Coding and Football<p>
        <h4>About</h4>
        <p>i AM that kind of person who is loves his friends and kills his enemies..
          ..To contact me, tmhe mjhe dhundna pdega...hahahaha</p>
      </div>
  </div>
  <div class="baby">
      <summary> Sujal Modanwal <button onclick="myfunction()"> Know More</button></summary>
      <div class="wesr" id="hid">
        <h4>Department</h4>
        <p>Computer Science and Technology</p>
        <h4>Hobbies</h4>
        <p>Dancing, Coding and Football<p>
        <h4>About</h4>
        <p>i AM that kind of person who is loves his friends and kills his enemies..
          ..To contact me, tmhe mjhe dhundna pdega...hahahaha</p>
      </div>
  </div>
  <br><br><br><br><br><br>
</div>
</div>
</div>

<%- include('layouts/foot.ejs') %>
