<link rel="stylesheet" href="css\post.css">
<link rel="stylesheet" href="css\start.css">
<link rel="stylesheet" href="css\blog.css">
<link rel="stylesheet" href="css\team.css">
<div id="content">
  <div class="container">
    <header class=" header3">
      <div class="brand-box">
        <span class="brand">Students Senate</span>
      </div>
      <div class="text-box">
        <h1 class="qwer" style="font-weight: 700">Simply the best</h1>
        <p style="color: white;">Reasons for choosing us</p>
      </div>
    </header>

    <div class="view">
      <div class="sidecontainer">
        <div class="notification-container">
          <div class="notf-title">
            <span>Notifications</span>
          </div>
          <div class="notifications">
            <div class="notification">
              <i class="fas fa-envelope"></i>
              <span>Please confirm your email</span>
            </div>
            <div class="notification">
              <i class="fas fa-book"></i>
              <span>Checkout our library page</span>
            </div>
            <div class="notification">
              <i class="fab fa-github"></i>
              <span>Follow us on github</span>
            </div>
            <div class="notification">
              <i class="fas fa-user"></i>
              <span>Someone followed you</span>
            </div>
          </div>
        </div>
        <div class="popular-post-container">
          <div class="post-container-title">
            <span>Popular posts</span>
          </div>
          <div class="popular-posts">
            <div class="popular-post">
              <img src="img/tower2.jpg">
              <span>Two Fishes were caught doing something fishy</span>
            </div>
            <div class="popular-post">
              <img src="img/tower2.jpg">
              <span>This post can save your life</span>
            </div>
            <div class="popular-post">
              <img src="img/tower2.jpg">
              <span>Jai shree ram, Ye post seedha ayodhya se aaya hai</span>
            </div>
            <div class="popular-post">
              <img src="img/tower2.jpg">
              <span>Bhula dena mujhe hai alvida tujhe, tujhe jeena ...</span>
            </div>
          </div>
        </div>
      </div>

      <div class="boy">
        <div class="post-navigator">
          <div class="options">
            <span>Formal</span>
            <span>Informal</span>
            <span>Promotion</span>
          </div>
          <div class="post-nav-slider"></div>
        </div>
        <div class="row">
          <div class="column">
            <div class="card" style="background: url('/img/tabitha-turner-qtr0Lw4fMGc-unsplash.jpg')  center / cover no-repeat;">
              <div class="header4">
                <div class="date">
                  <span>12 Aug 2020</span>
                </div>
              </div>
              <div class="data">
                <div class="content">
                  <span class="author">Lala Rocks</span>
                  <h1 class="title"><a href="#">Sujal Modanwal: nf ejwnjefwn enfjew ewjnfjew</a></h1>
                  <p class="text">Users must have repository creation permissions within the receiving organization
                    before they can transfer a repository that they individually own. If Allow members to create repositories
                    for this.</p>

                  <a href="#" class="but2">Read more</a>
                </div>
              </div>
            </div>
          </div>

          <div class="column">
            <div class="card" style="background: url('/img/pexels-yugal-srivastava-1067333.jpg')  center / cover no-repeat;">
              <div class="header4">
                <div class="date">
                  <span>12 Aug 2020</span>
                </div>
              </div>
              <div class="data">
                <div class="content">
                  <span class="author">Lala Rocks</span>
                  <h1 class="title"><a href="#">Sujal Modanwal: nf ejwnjefwn enfjew ewjnfjew</a></h1>
                  <p class="text">Users must have repository creation permissions within the receiving organization
                    before they can transfer a repository that they individually own. If Allow members to create repositories
                    for this.</p>

                  <a href="#" class="but2">Read more</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="column">
            <div class="card" style="background: url('/img/carter-gustin-x7KZE1Rv5rU-unsplash.jpg')  center / cover no-repeat;">
              <div class="header4">
                <div class="date">
                  <span>12 Aug 2020</span>
                </div>
              </div>
              <div class="data">
                <div class="content">
                  <span class="author">Lala Rocks</span>
                  <h1 class="title"><a href="#">Sujal Modanwal: nf ejwnjefwn enfjew ewjnfjew</a></h1>
                  <p class="text">Users must have repository creation permissions within the receiving organization
                    before they can transfer a repository that they individually own. If Allow members to create repositories
                    for this.</p>

                  <a href="#" class="but2">Read more</a>
                </div>
              </div>
            </div>
          </div>

          <div class="column">
            <div class="card" style="background: url('/img/adam-thomas-YbiQRmqLd_0-unsplash.jpg')  center / cover no-repeat;">
              <div class="header4">
                <div class="date">
                  <span>12 Aug 2020</span>
                </div>
              </div>
              <div class="data">
                <div class="content">
                  <span class="author">Lala Rocks</span>
                  <h1 class="title"><a href="#">Sujal Modanwal: nf ejwnjefwn enfjew ewjnfjew</a></h1>
                  <p class="text">Users must have repository creation permissions within the receiving organization
                    before they can transfer a repository that they individually own. If Allow members to create repositories
                    for this.</p>

                  <a href="#" class="but2">Read more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
