<link rel="stylesheet" href="css\start.css">
<link rel="stylesheet" href="css\lib.css">
<link rel="stylesheet" href="css\lib2.css">
<script type="text/javascript" src="js\library.js"></script>
<div id="content">
  <div class="container">
    <header class=" header23">
      <div class="text-box">
        <h1 class="qwer">Library</h1>
      </div>
    </header>
    <div class="row">
      <div class="column-15">
        <ul>
          <label for="year">Year</label>
          <select name="year" id="year" multiple>
            <option value="1" onclick="toggleselect(this)">First</option>
            <option value="2" onclick="toggleselect(this)">Second</option>
            <option value="3" onclick="toggleselect(this)">Third</option>
            <option value="4" onclick="toggleselect(this)">Fourth</option>
          </select>

          <br>

          <label for="department'">Department</label>
          <select name="department" id="department" multiple>
            <option value="1" onclick="toggleselect(this)">CST</option>
            <option value="2" onclick="toggleselect(this)">ETC</option>
            <option value="3" onclick="toggleselect(this)">IT</option>
            <option value="4" onclick="toggleselect(this)">EE</option>
            <option value="5" onclick="toggleselect(this)">ME</option>
            <option value="6" onclick="toggleselect(this)">CE</option>
            <option value="7" onclick="toggleselect(this)">Aero</option>
            <option value="8" onclick="toggleselect(this)">Meta and others</option>
          </select>

          <br>

          <label for="subject'">Subject</label>
          <select name="subject" id="subject" multiple>
            <option value="1" onclick="toggleselect(this)">Mathematics</option>
            <option value="2" onclick="toggleselect(this)">Physics</option>
            <option value="3" onclick="toggleselect(this)">Organic Chemistry</option>
            <option value="4" onclick="toggleselect(this)">Inorganic Chemistry</option>
            <option value="5" onclick="toggleselect(this)">Physical Chemistry</option>
            <option value="6" onclick="toggleselect(this)">BEE</option>
            <option value="7" onclick="toggleselect(this)">Environ. and Ecology</option>
            <option value="8" onclick="toggleselect(this)">Sociology and Ethics</option>
          </select>

          <br>

          <button type="button" name="filter" class="filter">filter</button>

        </ul>

      </div>
      <div class="column-85"></div>

    </div>

  </div>
</div>
