<%- include('layouts/head.ejs') %>

<link rel="stylesheet" href="css\start.css">
<link rel="stylesheet" href="css\profile.css">

<script type="text/javascript" src="js\connect.js"></script>
<div id="content">
  <div class="container">
    <div class="yaya">
      
    </div>
  </div>
</div>

<%- include('layouts/foot.ejs') %>
