<%- include('layouts/head.ejs') %>

<link rel="stylesheet" href="css\start.css">
<link rel="stylesheet" href="css\profile.css">

<script type="text/javascript" src="js\connect.js"></script>
<div id="content">
  <div class="container">
    <div class="yaya">
      <div class="usercard">
          <div class="usercard_body">
            <header class="usercard_header">
              <img src="img/default.png" class="usercard_image" alt="avatar">
              <h3 class="usercard_name"><%=user.name%></h3>
            </header>
            <div class="about2"></div>
          </div>
      </div>
    </div>
  </div>
</div>

<%- include('layouts/foot.ejs') %>
