<%- include('layouts/head.ejs') %>

<link rel="stylesheet" href="css\start.css">
<link rel="stylesheet" href="css\profile.css">

<script type="text/javascript" src="js\connect.js"></script>
<div id="content">
  <div class="container">
    <div class="yaya">
      <div class="usercard">
          <div class="usercard_body">
            <header class="usercard_header">
              <img src="<%=user.image%>" class="usercard_image" alt="avatar">
              <h1 class="usercard_name" style="font-weight: 700"><%=user.name%></h1>
            </header>
            <div class="about2">
              <h2>About</h2>
              <p> jhgd fech gfhew yudaas sdgfcuevfcegf fyugeuydgje ewcfyegfu
              </p>
              <h2>Posts</h2>
              <div class="baby2">
                <div class="lolo">
                  <h3>yfsgjs uhdqwik</h3>
                </div>
                <div class="lolo">
                  <h3> yfsgjs uhdqwik</h3>
                </div>
                <div class="lolo">
                  <h3> yfsgjs uhdqwik</h3>
                </div>
                <div class="lolo">
                  <h3> yfsgjs uhdqwik</h3>
                </div>
              </div>

            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<%- include('layouts/foot.ejs') %>
