<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title> <%=title%> </title>
  <link rel="stylesheet" href="css/login.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>

<body>
  <div class="err">
    <%if(error!=""){%>
      <span><%=error%></span>
    <%}%>
  </div>
  <div class="loginbox">
    <div class="logincard">
      <form action="/register" method="post">
        <div class="uplogo">
          <img onclick="location.href='/'" src="img/logo.png">
          <span>Welcome</span>
        </div>
        <div class="details">
          <i class="fas fa-user"></i>
          <input onclick="go(this)" required type="text" name="name" placeholder="Full name" id="name">
        </div>
        <div class="details">
          <i class="fas fa-user"></i>
          <input onclick="go(this)" pattern="[a-zA-Z0-9-]+" required type="username" name="username" placeholder="only letters and numbers are allowed" id="username">
        </div>
        <div class="details">
          <i class="fas fa-envelope"></i>
          <input onclick="go(this)" required type="email" name="email" placeholder="Email" id="email">
        </div>
        <div class="details1">
          <i class="fas fa-male"></i>
          <select id="gender" onclick="go(this)" required type="gender" name="gender" placeholder="Gender">
            <option disabled>Gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value= "Other">Other</option>
          </select>
        </div>
        <div class="details">
          <i class="fas fa-image"></i>
          <input onclick="go(this)" type="text" name="filename" placeholder="Paste your profile image">
        </div>
        <div class="details">
          <i class="fas fa-key"></i>
          <input onclick="go(this)" required type="password" name="password" placeholder="Password" id="password">
          <i class="fa fa-eye" id="eye" onclick="show()" style="cursor: pointer;"></i>
        </div>
        <script>
          var all = document.getElementsByTagName('input')
          function go(ele) {
            for (var inp of all) {
              inp.style.border = "none";
            }
            ele.style.border = "3px solid #0a67d4"
          }

          var pswrd= document.getElementById('password')
          var icon=document.querySelector('.fas')
          function show(){
            var eye = document.getElementById('eye')
            eye.classList.toggle('fa-eye-slash')
            eye.classList.toggle('fa-eye')
            if(pswrd.type==="password")
            {
              pswrd.type="text";
              pswrd.style.marginTop="20px";
              icon.style.color="#7f2092";
            }
            else{
              pswrd.type="password";
              icon.style.color="grey";
            }
          }
        </script>

        <div class="accept">
          <input required type="checkbox" name="check">
          <span>I agree to the <a href="/terms"> terms & conditions </a> </span>
        </div>

        <div class="sub">
          <button type="submit" name="button">Register</button>
        </div>
      </form>
      <div class="otherlinks">
        <a href="#" style="cursor: default">Already have an account ?</a>
        <a href="/login">Login</a>
      </div>
    </div>
  </div>

  <div class="wave wave4">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 410">
      <path fill="#315bC7" fill-opacity="1"
        d="M0,64L48,58.7C96,53,192,43,288,48C384,53,480,75,576,90.7C672,107,768,117,864,112C960,107,1056,85,1152,101.3C1248,117,1344,171,1392,197.3L1440,224L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
      </path>
    </svg>
  </div>

  <div class="wave wave3">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 380">
      <path fill="#6897e7" fill-opacity="1"
        d="M0,64L48,64C96,64,192,64,288,80C384,96,480,128,576,133.3C672,139,768,117,864,90.7C960,64,1056,32,1152,21.3C1248,11,1344,21,1392,26.7L1440,32L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
      </path>
    </svg>
  </div>
  <div class="wave wave2">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 350">
      <path fill="#b9d1f4" fill-opacity="1"
        d="M0,32L48,37.3C96,43,192,53,288,69.3C384,85,480,107,576,138.7C672,171,768,213,864,202.7C960,192,1056,128,1152,106.7C1248,85,1344,107,1392,117.3L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
      </path>
    </svg>
  </div>
  <div class="wave wave1">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#fff" fill-opacity="1"
        d="M0,128L48,154.7C96,181,192,235,288,234.7C384,235,480,181,576,144C672,107,768,85,864,90.7C960,96,1056,128,1152,122.7C1248,117,1344,75,1392,53.3L1440,32L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
      </path>
    </svg>
  </div>
  <div class="coverup">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 200">
      <rect fill="#fff" height="100%" width="100%" y="0" x="0"></rect>
    </svg>
  </div>
  <br><br><br><br>
  <script>
    for (var wave of document.getElementsByClassName('wave')) {
      wave.style.display = "none";
    }
  </script>
</body>

</html>
