<%- include('layouts/head.ejs') %>
<link rel="stylesheet" href="css/start.css">
<style media="screen">
  body[theme="light"] {
    --primary-color: #ff6e00;
  }
  body{
    --active-highlight: #ff7300;
    --highlight: #ffb000;
  }
</style>
<div id="bar2">
  We suggest you to read through the bottom
  <div class="hb-close-wrapper">
        <a onclick="myfunction2(this)" class="icon-close">&#10006;</a>
    </div>
  </div>
<div id="content">
  <div class="container">

    <div class="headwrapper">
      <div class="header-overlap">
        <div class="titleName">
          <span>An all-in-one social platform exclusively for students of IIEST shibpur</span>
        </div>
      </div>
    </div>

    <div class="header" title="Pic Courtesy Nawab Bibaswan Drongo">
    </div>
    <div class="floating start">
      <div class="navstart">
        <button class="barbutton" onclick="slideit(0)">Blogs</button>
        <button class="barbutton" onclick="slideit(1)">Library</button>
        <button class="barbutton" onclick="slideit(2)">Connect</button>
      </div>
      <div class="slidebar"></div>
      <div class="info rere">
        Your very own platform for sharing your new ideas related to tech
      </div>
      <a href="/login">Get Started</a>
    </div>

    <div class="space"></div>

    <div style="text-align:center; padding-top: 20px; padding-left: 10px; padding-right:10px;padding-bottom:0px;">
      <h1 class="why">Why this website?</h1>
    </div>

    <svg height="0" width="0">
      <defs>
        <clipPath id="headercut">
          <path
            d="m-5.65526,348.02776l0,-48.63261l76.42585,-50.54834c98.62382,-65.23559 93.2517,-61.74023 96.79933,-62.84933c3.90238,-1.20993 7.04456,-1.20993 10.94694,0.03361c3.39558,1.10911 8.51428,4.3692 56.60986,36.19718c51.08572,33.77731 66.23912,43.69205 66.74592,43.69205c0.30408,0 1.41905,0.53775 2.48334,1.17632c4.3585,2.68874 9.7813,3.42815 14.34253,1.94934c2.78742,-0.90745 8.00748,-4.16755 11.65646,-7.2596c1.46972,-1.27715 3.54762,-2.8904 4.61191,-3.6298c1.06429,-0.7394 2.43265,-1.94934 3.04082,-2.65513c0.65884,-0.7394 1.31768,-1.34437 1.52041,-1.34437c0.20273,0 0.86156,-0.67219 1.46972,-1.51242c0.60816,-0.84023 1.26701,-1.51242 1.46972,-1.51242c0.15204,0 0.86156,-0.67219 1.57109,-1.51242c0.70952,-0.84023 1.41905,-1.51242 1.57109,-1.51242c0.20273,0 1.21633,-0.87384 2.28061,-1.91573c1.06429,-1.0755 2.07789,-2.01656 2.22993,-2.11738c0.20273,-0.10083 0.70952,-0.63858 1.16565,-1.24354c0.45612,-0.57136 1.16565,-1.24354 1.52041,-1.51242c0.35477,-0.23526 1.21633,-1.0755 1.87517,-1.88212c0.65884,-0.77301 1.36836,-1.41159 1.57109,-1.41159c0.20273,0 1.21633,-0.87384 2.28061,-1.91573c1.06429,-1.0755 2.07789,-2.01656 2.22993,-2.11738c0.20273,-0.10083 0.70952,-0.63858 1.16565,-1.24354c0.45612,-0.57136 1.16565,-1.24354 1.52041,-1.51242c0.35477,-0.23526 1.21633,-1.0755 1.87517,-1.88212c0.65884,-0.77301 1.36836,-1.41159 1.57109,-1.41159c0.20273,0 1.87517,-1.54603 3.80102,-3.42815c1.87517,-1.88212 3.75034,-3.6298 4.20646,-3.93228c0.45612,-0.30248 2.83809,-2.5543 5.32143,-5.04139c2.48334,-2.45348 4.8653,-4.73891 5.32143,-5.04139c0.45612,-0.30248 2.83809,-2.5543 5.32143,-5.04139c2.48334,-2.45348 4.8653,-4.73891 5.32143,-5.04139c0.45612,-0.30248 2.83809,-2.5543 5.32143,-5.04139c2.48334,-2.45348 4.8653,-4.73891 5.32143,-5.04139c0.45612,-0.30248 2.88878,-2.58791 5.37211,-5.075c2.48334,-2.48709 4.91599,-4.83973 5.47347,-5.20944c0.5068,-0.3697 3.0915,-2.82318 5.72686,-5.4447c2.58469,-2.62152 4.96666,-4.83973 5.22007,-4.97417c0.30408,-0.10083 1.82449,-1.51242 3.39558,-3.12566c1.57109,-1.61324 3.39558,-3.29371 4.05442,-3.76424c1.41905,-1.0755 7.80477,-7.39404 7.80477,-7.76374c0,-0.16805 1.46972,-0.30248 3.29421,-0.30248l3.29421,0l0.86226,121.99337l-0.86226,120.99337l-228.06123,2l-228.06123,-2l0,-49.63261l0.00002,-0.00001l-0.00001,0z"
            transform="rotate(180 259.33709716796875,277.1669921875) scale(1,0.6) translate(100,200)" stroke="null" />
          <rect height="200" width="500" y="0" x="0" />
          <path
            d="m-5.65526,348.02776l0,-48.63261l76.42585,-50.54834c98.62382,-65.23559 93.2517,-61.74023 96.79933,-62.84933c3.90238,-1.20993 7.04456,-1.20993 10.94694,0.03361c3.39558,1.10911 8.51428,4.3692 56.60986,36.19718c51.08572,33.77731 66.23912,43.69205 66.74592,43.69205c0.30408,0 1.41905,0.53775 2.48334,1.17632c4.3585,2.68874 9.7813,3.42815 14.34253,1.94934c2.78742,-0.90745 8.00748,-4.16755 11.65646,-7.2596c1.46972,-1.27715 3.54762,-2.8904 4.61191,-3.6298c1.06429,-0.7394 2.43265,-1.94934 3.04082,-2.65513c0.65884,-0.7394 1.31768,-1.34437 1.52041,-1.34437c0.20273,0 0.86156,-0.67219 1.46972,-1.51242c0.60816,-0.84023 1.26701,-1.51242 1.46972,-1.51242c0.15204,0 0.86156,-0.67219 1.57109,-1.51242c0.70952,-0.84023 1.41905,-1.51242 1.57109,-1.51242c0.20273,0 1.21633,-0.87384 2.28061,-1.91573c1.06429,-1.0755 2.07789,-2.01656 2.22993,-2.11738c0.20273,-0.10083 0.70952,-0.63858 1.16565,-1.24354c0.45612,-0.57136 1.16565,-1.24354 1.52041,-1.51242c0.35477,-0.23526 1.21633,-1.0755 1.87517,-1.88212c0.65884,-0.77301 1.36836,-1.41159 1.57109,-1.41159c0.20273,0 1.21633,-0.87384 2.28061,-1.91573c1.06429,-1.0755 2.07789,-2.01656 2.22993,-2.11738c0.20273,-0.10083 0.70952,-0.63858 1.16565,-1.24354c0.45612,-0.57136 1.16565,-1.24354 1.52041,-1.51242c0.35477,-0.23526 1.21633,-1.0755 1.87517,-1.88212c0.65884,-0.77301 1.36836,-1.41159 1.57109,-1.41159c0.20273,0 1.87517,-1.54603 3.80102,-3.42815c1.87517,-1.88212 3.75034,-3.6298 4.20646,-3.93228c0.45612,-0.30248 2.83809,-2.5543 5.32143,-5.04139c2.48334,-2.45348 4.8653,-4.73891 5.32143,-5.04139c0.45612,-0.30248 2.83809,-2.5543 5.32143,-5.04139c2.48334,-2.45348 4.8653,-4.73891 5.32143,-5.04139c0.45612,-0.30248 2.83809,-2.5543 5.32143,-5.04139c2.48334,-2.45348 4.8653,-4.73891 5.32143,-5.04139c0.45612,-0.30248 2.88878,-2.58791 5.37211,-5.075c2.48334,-2.48709 4.91599,-4.83973 5.47347,-5.20944c0.5068,-0.3697 3.0915,-2.82318 5.72686,-5.4447c2.58469,-2.62152 4.96666,-4.83973 5.22007,-4.97417c0.30408,-0.10083 1.82449,-1.51242 3.39558,-3.12566c1.57109,-1.61324 3.39558,-3.29371 4.05442,-3.76424c1.41905,-1.0755 7.80477,-7.39404 7.80477,-7.76374c0,-0.16805 1.46972,-0.30248 3.29421,-0.30248l3.29421,0l0.86226,121.99337l-0.86226,120.99337l-228.06123,2l-228.06123,-2l0,-49.63261l0.00002,-0.00001l-0.00001,0z"
            transform="rotate(180 259.33709716796875,277.1669921875) scale(1,0.6) translate(100,150)" stroke="null" />
        </clipPath>
      </defs>
    </svg>

    <div class="fro">
      <div class="row">
        <div class="column-66">
          <h1 class="xlarge-font topics"><b>The Connect</b></h1>
          <h1 class="large-font" style="color:MediumSeaGreen;"><b> Connect with whom?</b></h1>
          <p class="paras paras2">
            An innovative function of this website which enables you to know about other students of the college with out
            meeting them in personal. Objective of this page is to increase the connectivity of students with same interests,
             state, department and year. Finding students with a particular quality would be easier now.
             We tried to implement it in best way and if you have any better idea then you are welcome with your thoughts.
             The data is secured with us and will be shared only with the students of our college only.
          </p><br>
          <button class="button2"><a href="/connect">Connect Me</a></button>
        </div>
        <div class="column-33">
          <img class="startImage" src="img\WhatsApp Image 2020-07-31 at 22.13.30.jpeg" alt="college photo" title="by Prajjwal Nakade" width="335" height="471">
        </div>
      </div>
    </div>

    <br>

    <div class="fro" style="background: linear-gradient(30deg, var(--primary-color) 0%, var(--secondary-grad) 100%);">
      <div class="row">
        <div class="column-33">
          <img class="startImage" src="img\IMG_20190812_183803.jpg" alt="college photo" title="by Prajjwal Nakade" width="335" height="471">
        </div>
        <div class="column-66">
          <h1 class="xlarge-font topics"><b>Blog</b></h1>
          <h1 class="large-font" style="color:#df1433;"><b>Which kind of Blogs?</b></h1>
          <p class="paras">A platform where you are allowed to share your tech related ideas and read out other's innovative
            ideas which will definetly help you to raise IT sector.Blogs can also be written with the help of <b>Markdown</b> language in way to make them attractive.
          </p><br>
          <button class="button2" style="background-color: #df1433;"><a href="/front">View Blogs</a></button>
        </div>
      </div>
    </div>

    <br>

    <div class="fro">
      <div class="row">
        <div class="column-66">
          <h1 class="xlarge-font topics"><b>The Library</b></h1>
          <h1 class="large-font" style="color:MediumSeaGreen;"><b>Why this?</b></h1>
          <p class="paras paras2">An e-library exclusively for IIEST students, where all your academic's will
            be fulfilled. Here you will find all the books, materials, notes and question papers shared ever by any of the student or professor.
            You will also find certain filters to be applied in way to find the materials of a particular department and year easily.
          </p><br>
          <button class="button2"><a href="/library">Open Library</a></button>
        </div>
        <div class="column-33">
          <img class="startImage" src="img\tower2.jpg" alt="college photo" width="470" height="800">
        </div>
      </div>
    </div>

  </div>
</div>

<%- include('layouts/foot.ejs') %>
