<%- include('layouts/head.ejs') %>
<link rel="stylesheet" href="css/start.css">
<link rel="stylesheet" href="css/svg.css">
<style media="screen">
  body[theme="light"] {
    --primary-color: #ff6e00;
  }

  body {
    --active-highlight: #ff7300;
    --highlight: #ffb000;
  }
</style>
<div id="content">
  <div id="bar2">
    Hello INTELLECTS, scroll down for exploring our resources
    <div class="hb-close-wrapper">
      <a onclick="myfunction2()" class="icon-close">&#10006;</a>
    </div>
  </div>

  <script>
    if (localStorage.getItem("closedSuggestion") && localStorage.getItem("closedSuggestion") <= 0) {
      myfunction2()
    }
  </script>

  <div class="container">
    <div class="headwrapper">
      <div class="header-overlap">
        <div class="titleName">
          <span>An all-in-one social platform exclusively meant for engineering students</span>
        </div>
      </div>
    </div>

    <div class="header">
      <div class="svgcontainer container">
        <div class="bots">
          <svg id="realsvg" width="800" height="543" viewBox="0 0 879 553" xmlns="http://www.w3.org/2000/svg">
            <rect id="rectsvg" width="879" height="553" />
            <g id="content 1" clip-path="url(#clip0)">
              <g id="laptop">
                <path id="Vector"
                  d="M837.863 552.215H95.2294C88.6252 552.215 82.2916 549.591 77.6218 544.921C72.9519 540.252 70.3285 533.918 70.3285 527.314C339.533 496.027 603.678 496.027 862.764 527.314C862.764 533.918 860.14 540.252 855.471 544.921C850.801 549.591 844.467 552.215 837.863 552.215Z"
                  fill="#CCCCCC" />
                <path id="Vector_2"
                  d="M862.764 528.779L70.3285 527.314L162.169 372.782L162.608 372.049V31.4777C162.608 27.3439 163.422 23.2505 165.004 19.4313C166.586 15.6121 168.904 12.1419 171.827 9.21884C174.75 6.2958 178.22 3.97718 182.04 2.3954C185.859 0.813621 189.952 -0.000345318 194.086 1.09897e-07H734.612C738.746 -0.000345318 742.839 0.813621 746.658 2.3954C750.478 3.97718 753.948 6.2958 756.871 9.21884C759.794 12.1419 762.112 15.6121 763.694 19.4313C765.276 23.2505 766.09 27.3439 766.09 31.4777V374.393L862.764 528.779Z"
                  fill="#E6E6E6" />
                <path id="Vector_3"
                  d="M193.368 21.9714C190.65 21.9745 188.044 23.0557 186.122 24.9779C184.199 26.9001 183.118 29.5063 183.115 32.2247V342.754C183.118 345.472 184.199 348.078 186.122 350.001C188.044 351.923 190.65 353.004 193.368 353.007H739.724C742.442 353.004 745.048 351.923 746.971 350.001C748.893 348.078 749.974 345.472 749.977 342.754V32.2247C749.974 29.5064 748.893 26.9002 746.971 24.978C745.049 23.0559 742.442 21.9746 739.724 21.9714H193.368Z" />
                <path id="Vector_3a"
                  d="M193.368 21.9714C190.65 21.9745 188.044 23.0557 186.122 24.9779C184.199 26.9001 183.118 29.5063 183.115 32.2247V342.754C183.118 345.472 184.199 348.078 186.122 350.001C188.044 351.923 190.65 353.004 193.368 353.007H739.724C742.442 353.004 745.048 351.923 746.971 350.001C748.893 348.078 749.974 345.472 749.977 342.754V32.2247C749.974 29.5064 748.893 26.9002 746.971 24.978C745.049 23.0559 742.442 21.9746 739.724 21.9714H193.368Z"
                  fill="#d1cece" transform="scale(0.3,0.1) translate(1700,250)" />
                <path id="Vector_3b"
                  d="M193.368 21.9714C190.65 21.9745 188.044 23.0557 186.122 24.9779C184.199 26.9001 183.118 29.5063 183.115 32.2247V342.754C183.118 345.472 184.199 348.078 186.122 350.001C188.044 351.923 190.65 353.004 193.368 353.007H739.724C742.442 353.004 745.048 351.923 746.971 350.001C748.893 348.078 749.974 345.472 749.977 342.754V32.2247C749.974 29.5064 748.893 26.9002 746.971 24.978C745.049 23.0559 742.442 21.9746 739.724 21.9714H193.368Z"
                  fill="#9c9898c8" transform="scale(0.3,0.1) translate(1700,750)" />
                <path id="Vector_3c"
                  d="M193.368 21.9714C190.65 21.9745 188.044 23.0557 186.122 24.9779C184.199 26.9001 183.118 29.5063 183.115 32.2247V342.754C183.118 345.472 184.199 348.078 186.122 350.001C188.044 351.923 190.65 353.004 193.368 353.007H739.724C742.442 353.004 745.048 351.923 746.971 350.001C748.893 348.078 749.974 345.472 749.977 342.754V32.2247C749.974 29.5064 748.893 26.9002 746.971 24.978C745.049 23.0559 742.442 21.9746 739.724 21.9714H193.368Z"
                  fill="#e4e4e4" transform="scale(0.3,0.1) translate(1700,1250)" />
                <path id="Vector_3d"
                  d="M193.368 21.9714C190.65 21.9745 188.044 23.0557 186.122 24.9779C184.199 26.9001 183.118 29.5063 183.115 32.2247V342.754C183.118 345.472 184.199 348.078 186.122 350.001C188.044 351.923 190.65 353.004 193.368 353.007H739.724C742.442 353.004 745.048 351.923 746.971 350.001C748.893 348.078 749.974 345.472 749.977 342.754V32.2247C749.974 29.5064 748.893 26.9002 746.971 24.978C745.049 23.0559 742.442 21.9746 739.724 21.9714H193.368Z"
                  fill="#424242c7" transform="scale(0.3,0.1) translate(1700,1750)" />
                <path id="Vector_3e"
                  d="M193.368 21.9714C190.65 21.9745 188.044 23.0557 186.122 24.9779C184.199 26.9001 183.118 29.5063 183.115 32.2247V342.754C183.118 345.472 184.199 348.078 186.122 350.001C188.044 351.923 190.65 353.004 193.368 353.007H739.724C742.442 353.004 745.048 351.923 746.971 350.001C748.893 348.078 749.974 345.472 749.977 342.754V32.2247C749.974 29.5064 748.893 26.9002 746.971 24.978C745.049 23.0559 742.442 21.9746 739.724 21.9714H193.368Z"
                  fill="#424242c7" transform="scale(0.3,0.1) translate(1700,2250)" />
                <path id="Vector_3f"
                  d="M193.368 21.9714C190.65 21.9745 188.044 23.0557 186.122 24.9779C184.199 26.9001 183.118 29.5063 183.115 32.2247V342.754C183.118 345.472 184.199 348.078 186.122 350.001C188.044 351.923 190.65 353.004 193.368 353.007H739.724C742.442 353.004 745.048 351.923 746.971 350.001C748.893 348.078 749.974 345.472 749.977 342.754V32.2247C749.974 29.5064 748.893 26.9002 746.971 24.978C745.049 23.0559 742.442 21.9746 739.724 21.9714H193.368Z"
                  fill="#f5921bc7" transform="scale(0.3,0.1) translate(1700,3100)" />
                <path id="Vector_3g"
                  d="M193.368 21.9714C190.65 21.9745 188.044 23.0557 186.122 24.9779C184.199 26.9001 183.118 29.5063 183.115 32.2247V342.754C183.118 345.472 184.199 348.078 186.122 350.001C188.044 351.923 190.65 353.004 193.368 353.007H739.724C742.442 353.004 745.048 351.923 746.971 350.001C748.893 348.078 749.974 345.472 749.977 342.754V32.2247C749.974 29.5064 748.893 26.9002 746.971 24.978C745.049 23.0559 742.442 21.9746 739.724 21.9714H193.368Z"
                  transform="scale(0.06,0.95) translate(11700,10)" />
                <path id="Vector_4"
                  d="M196.959 394.021C196.119 394.022 195.297 394.264 194.59 394.717C193.882 395.17 193.319 395.816 192.967 396.578L164.668 458.098C164.36 458.768 164.225 459.504 164.276 460.239C164.327 460.974 164.562 461.685 164.959 462.305C165.357 462.926 165.904 463.436 166.551 463.79C167.197 464.144 167.922 464.329 168.659 464.329H763.771C764.52 464.329 765.256 464.138 765.91 463.773C766.565 463.408 767.115 462.882 767.508 462.245C767.902 461.608 768.126 460.88 768.16 460.132C768.193 459.384 768.035 458.639 767.7 457.969L736.94 396.449C736.577 395.718 736.017 395.103 735.322 394.674C734.628 394.244 733.827 394.018 733.01 394.021L196.959 394.021Z"
                  fill="#CCCCCC" />
                <path id="Vector_5" d="M464.349 16.8447C467.989 16.8447 470.94 13.8937 470.94 10.2533C470.94 6.61297 467.989 3.6619 464.349 3.6619C460.709 3.6619 457.758 6.61297 457.758 10.2533C457.758 13.8937 460.709 16.8447 464.349 16.8447Z"
                  fill="white" />
                <path id="Vector_6"
                  d="M405.854 476.047C404.888 476.048 403.95 476.367 403.183 476.955C402.416 477.543 401.864 478.366 401.612 479.298L394.513 505.664C394.338 506.315 394.315 506.998 394.445 507.66C394.576 508.322 394.858 508.944 395.268 509.48C395.678 510.015 396.206 510.449 396.811 510.748C397.416 511.046 398.081 511.201 398.756 511.201H533.754C534.454 511.201 535.144 511.034 535.767 510.713C536.39 510.392 536.926 509.926 537.333 509.356C537.739 508.785 538.003 508.125 538.102 507.432C538.202 506.739 538.134 506.031 537.905 505.37L528.778 479.004C528.479 478.141 527.919 477.392 527.174 476.862C526.43 476.332 525.539 476.047 524.626 476.047H405.854Z"
                  fill="#CCCCCC" />
                <path id="Vector_7" d="M766.09 366.922V372.782H162.169L162.623 372.049V366.922H766.09Z" fill="#CCCCCC" />
                <path id="Vector_8"
                  d="M643.547 380.344C643.312 380.344 643.083 380.422 642.897 380.565C642.71 380.708 642.576 380.909 642.514 381.136L640.786 387.556C640.743 387.715 640.737 387.881 640.769 388.042C640.801 388.203 640.87 388.355 640.969 388.485C641.069 388.616 641.198 388.721 641.345 388.794C641.492 388.867 641.654 388.905 641.819 388.905H674.693C674.863 388.905 675.031 388.864 675.183 388.786C675.335 388.707 675.465 388.594 675.564 388.455C675.663 388.316 675.727 388.156 675.752 387.987C675.776 387.818 675.759 387.646 675.704 387.484L673.481 381.064C673.408 380.854 673.272 380.671 673.091 380.542C672.909 380.413 672.692 380.344 672.47 380.344H643.547Z"
                  fill="#CCCCCC" />
              </g>
              <path id="Vector_9"
                d="M691.547 380.344C691.312 380.344 691.084 380.422 690.897 380.565C690.71 380.708 690.576 380.909 690.514 381.136L688.786 387.556C688.743 387.715 688.737 387.881 688.769 388.042C688.801 388.203 688.87 388.355 688.969 388.485C689.069 388.616 689.198 388.721 689.345 388.794C689.492 388.867 689.655 388.905 689.819 388.905H722.693C722.863 388.905 723.031 388.864 723.183 388.786C723.335 388.707 723.465 388.594 723.564 388.455C723.663 388.316 723.728 388.156 723.752 387.987C723.776 387.818 723.759 387.646 723.704 387.484L721.481 381.064C721.408 380.854 721.272 380.671 721.091 380.542C720.909 380.413 720.692 380.344 720.47 380.344H691.547Z"
                fill="#CCCCCC" />
              <path id="Vector_10"
                d="M504.481 421.14H507.058L501.905 76.7513H499.328L499.431 83.6219H441.684L441.787 76.7513H439.211L434.058 421.14H436.634L436.968 398.81H504.147L504.481 421.14ZM500.768 172.94H440.348L440.978 130.857H500.138L500.768 172.94ZM500.806 175.516L501.436 217.598H439.68L440.309 175.516H500.806ZM501.474 220.175L502.104 262.257H439.012L439.641 220.175H501.474ZM502.143 264.834L502.772 306.916H438.343L438.973 264.834H502.143ZM502.811 309.492L503.44 351.575H437.675L438.305 309.492H502.811ZM499.47 86.1984L500.099 128.281H441.016L441.646 86.1984H499.47ZM437.007 396.234L437.637 354.151H503.479L504.109 396.234H437.007Z"
                fill="#3F3D56" />
              <path id="Vector_11" d="M457.794 195.37C480.997 195.37 499.807 176.56 499.807 153.358C499.807 130.155 480.997 111.345 457.794 111.345C434.592 111.345 415.782 130.155 415.782 153.358C415.782 176.56 434.592 195.37 457.794 195.37Z"
                fill="#2F2E41" />
              <path id="Vector_12" d="M482.506 182.392L469.947 184.665L474.021 207.167L486.58 204.893L482.506 182.392Z" fill="#2F2E41" />
              <path id="Vector_13" d="M457.388 186.939L444.829 189.212L448.903 211.714L461.462 209.44L457.388 186.939Z" fill="#2F2E41" />
              <path id="Vector_14" d="M455.57 216.45C460.052 212.653 462.532 208.213 461.108 206.532C459.685 204.851 454.897 206.566 450.414 210.362C445.932 214.158 443.452 218.599 444.876 220.28C446.299 221.961 451.087 220.246 455.57 216.45Z"
                fill="#2F2E41" />
              <path id="Vector_15" d="M480.165 211.997C484.647 208.201 487.127 203.761 485.703 202.08C484.28 200.399 479.492 202.113 475.009 205.91C470.527 209.706 468.047 214.146 469.47 215.827C470.894 217.508 475.682 215.793 480.165 211.997Z"
                fill="#2F2E41" />
              <path id="Vector_16" d="M454.853 157.44C462.783 157.44 469.212 151.011 469.212 143.081C469.212 135.151 462.783 128.723 454.853 128.723C446.923 128.723 440.495 135.151 440.495 143.081C440.495 151.011 446.923 157.44 454.853 157.44Z"
                fill="white" />
              <path id="Vector_17" d="M448.952 142.721C451.595 142.721 453.738 140.578 453.738 137.934C453.738 135.291 451.595 133.148 448.952 133.148C446.308 133.148 444.166 135.291 444.166 137.934C444.166 140.578 446.308 142.721 448.952 142.721Z"
                fill="#3F3D56" />
              <g id="hat1">
                <path id="Vector_18" d="M490.936 107.653C491.568 92.0991 478.163 78.9251 460.995 78.2278C443.828 77.5304 429.399 89.5738 428.767 105.127C428.135 120.681 440.069 124.215 457.236 124.912C474.404 125.61 490.304 123.206 490.936 107.653Z"
                  fill="#FFB000" />
              </g>
              <g id="singlehand2">
                <path id="Vector_19" d="M439.477 150.397C440.291 146.847 431.783 141.868 420.475 139.276C409.167 136.684 399.34 137.46 398.527 141.01C397.713 144.56 406.22 149.539 417.528 152.131C428.837 154.723 438.663 153.947 439.477 150.397Z"
                  fill="#2F2E41" />
              </g>
              <path id="Vector_20" d="M521.946 164.111C522.759 160.561 514.252 155.582 502.944 152.99C491.636 150.398 481.809 151.175 480.995 154.725C480.182 158.275 488.689 163.254 499.997 165.846C511.305 168.438 521.132 167.661 521.946 164.111Z"
                fill="#2F2E41" />
              <path id="Vector_21"
                d="M469.333 169.914C469.559 171.151 469.54 172.421 469.275 173.651C469.01 174.88 468.506 176.046 467.791 177.08C467.076 178.115 466.163 178.998 465.107 179.68C464.05 180.362 462.869 180.829 461.631 181.054C460.394 181.279 459.124 181.259 457.895 180.993C456.666 180.727 455.501 180.222 454.467 179.506C453.433 178.79 452.55 177.877 451.869 176.819C451.188 175.762 450.722 174.581 450.498 173.343L450.494 173.325C449.553 168.122 453.575 166.282 458.777 165.34C463.979 164.398 468.391 164.712 469.333 169.914Z"
                fill="white" />
              <path id="Vector_22" d="M311.89 333.054C315.7 309.576 299.756 287.454 276.277 283.644C252.799 279.834 230.678 295.779 226.868 319.257C223.058 342.735 239.002 364.857 262.48 368.667C285.958 372.477 308.08 356.533 311.89 333.054Z"
                fill="#2F2E41" />
              <path id="Vector_23" d="M262.837 359.955H249.753V383.397H262.837V359.955Z" fill="#2F2E41" />
              <path id="Vector_24" d="M289.004 359.955H275.921V383.397H289.004V359.955Z" fill="#2F2E41" />
              <path id="Vector_25" d="M260.656 387.758C266.678 387.758 271.559 385.928 271.559 383.67C271.559 381.412 266.678 379.581 260.656 379.581C254.635 379.581 249.753 381.412 249.753 383.67C249.753 385.928 254.635 387.758 260.656 387.758Z"
                fill="#2F2E41" />
              <path id="Vector_26" d="M286.824 387.213C292.845 387.213 297.727 385.383 297.727 383.125C297.727 380.866 292.845 379.036 286.824 379.036C280.802 379.036 275.921 380.866 275.921 383.125C275.921 385.383 280.802 387.213 286.824 387.213Z"
                fill="#2F2E41" />
              <path id="Vector_27" d="M227.602 286.104C224.125 270.531 235.241 254.794 252.431 250.956C269.621 247.117 286.375 256.631 289.852 272.204C293.33 287.778 281.937 293.522 264.747 297.36C247.558 301.199 231.08 301.678 227.602 286.104Z"
                fill="#FFB000" />
              <g id="minhands1">
                <path id="Vector_28" d="M315.5 296.047C319.746 284.938 320.361 274.852 316.874 273.519C313.387 272.186 307.117 280.111 302.871 291.22C298.625 302.329 298.01 312.415 301.498 313.748C304.985 315.081 311.254 307.156 315.5 296.047Z"
                  fill="#2F2E41" />
                <path id="Vector_29" d="M240.327 315.4C241.927 312.027 234.513 305.161 223.767 300.064C213.022 294.968 203.014 293.571 201.414 296.944C199.814 300.318 207.228 307.184 217.974 312.28C228.719 317.377 238.727 318.773 240.327 315.4Z"
                  fill="#2F2E41" />
              </g>
              <g id="guydown">
                <path id="Vector_30" d="M82.9008 412.831C106.686 412.831 125.968 393.549 125.968 369.763C125.968 345.978 106.686 326.696 82.9008 326.696C59.1154 326.696 39.8335 345.978 39.8335 369.763C39.8335 393.549 59.1154 412.831 82.9008 412.831Z"
                  fill="#2F2E41" />
                <path id="Vector_31" d="M76.3589 403.563H63.2752V427.005H76.3589V403.563Z" fill="#2F2E41" />
                <path id="Vector_32" d="M102.526 403.563H89.4427V427.005H102.526V403.563Z" fill="#2F2E41" />
                <path id="Vector_33" d="M74.1783 431.366C80.1999 431.366 85.0814 429.535 85.0814 427.277C85.0814 425.019 80.1999 423.188 74.1783 423.188C68.1566 423.188 63.2751 425.019 63.2751 427.277C63.2751 429.535 68.1566 431.366 74.1783 431.366Z"
                  fill="#2F2E41" />
                <path id="Vector_34" d="M100.346 430.821C106.367 430.821 111.249 428.99 111.249 426.732C111.249 424.474 106.367 422.643 100.346 422.643C94.3242 422.643 89.4427 424.474 89.4427 426.732C89.4427 428.99 94.3242 430.821 100.346 430.821Z"
                  fill="#2F2E41" />
                <g id="eyes">
                  <path id="Vector_35" d="M83.9911 373.579C92.1203 373.579 98.7104 366.989 98.7104 358.86C98.7104 350.731 92.1203 344.141 83.9911 344.141C75.8619 344.141 69.2719 350.731 69.2719 358.86C69.2719 366.989 75.8619 373.579 83.9911 373.579Z"
                    fill="white" />
                  <path id="Vector_36" d="M83.9911 363.767C86.7009 363.767 88.8976 361.57 88.8976 358.86C88.8976 356.15 86.7009 353.954 83.9911 353.954C81.2814 353.954 79.0847 356.15 79.0847 358.86C79.0847 361.57 81.2814 363.767 83.9911 363.767Z"
                    fill="#3F3D56" />
                </g>
                <path id="Vector_37" d="M41.124 329.712C37.6465 314.138 48.7627 298.401 65.9526 294.563C83.1426 290.725 99.8968 300.238 103.374 315.812C106.852 331.386 95.4594 337.13 78.2695 340.968C61.0795 344.806 44.6015 345.286 41.124 329.712Z"
                  fill="#E6E6E6" />
              </g>
              <path id="Vector_38" d="M114.303 215.904C118.549 204.795 119.164 194.709 115.677 193.376C112.189 192.043 105.92 199.968 101.674 211.077C97.4282 222.186 96.8132 232.272 100.301 233.605C103.788 234.938 110.057 227.013 114.303 215.904Z"
                fill="#2F2E41" />
              <path id="Vector_39" d="M110.693 252.911C114.503 229.433 98.5585 207.312 75.0802 203.502C51.6019 199.692 29.4803 215.636 25.6703 239.114C21.8603 262.592 37.8046 284.714 61.2829 288.524C84.7612 292.334 106.883 276.39 110.693 252.911Z"
                fill="#2F2E41" />
              <path id="Vector_40" d="M61.6397 279.812H48.5559V303.254H61.6397V279.812Z" fill="#2F2E41" />
              <path id="Vector_41" d="M87.8072 279.812H74.7234V303.254H87.8072V279.812Z" fill="#2F2E41" />
              <path id="Vector_42" d="M59.4591 307.615C65.4807 307.615 70.3622 305.785 70.3622 303.527C70.3622 301.269 65.4807 299.438 59.4591 299.438C53.4374 299.438 48.5559 301.269 48.5559 303.527C48.5559 305.785 53.4374 307.615 59.4591 307.615Z"
                fill="#2F2E41" />
              <path id="Vector_43" d="M85.6266 307.07C91.6482 307.07 96.5297 305.24 96.5297 302.982C96.5297 300.723 91.6482 298.893 85.6266 298.893C79.6049 298.893 74.7234 300.723 74.7234 302.982C74.7234 305.24 79.6049 307.07 85.6266 307.07Z"
                fill="#2F2E41" />
              <path id="Vector_44" d="M69.2719 249.829C77.4011 249.829 83.9911 243.239 83.9911 235.11C83.9911 226.98 77.4011 220.39 69.2719 220.39C61.1427 220.39 54.5527 226.98 54.5527 235.11C54.5527 243.239 61.1427 249.829 69.2719 249.829Z"
                fill="white" />
              <path id="Vector_45" d="M69.2719 240.016C71.9816 240.016 74.1783 237.819 74.1783 235.11C74.1783 232.4 71.9816 230.203 69.2719 230.203C66.5622 230.203 64.3655 232.4 64.3655 235.11C64.3655 237.819 66.5622 240.016 69.2719 240.016Z"
                fill="#3F3D56" />
              <path id="Vector_46" d="M26.4048 205.961C22.9273 190.388 34.0435 174.651 51.2334 170.813C68.4234 166.974 85.1777 176.488 88.6551 192.061C92.1326 207.635 80.7402 213.379 63.5503 217.217C46.3603 221.056 29.8823 221.535 26.4048 205.961Z"
                fill="#FFB000" />
              <g id="singlehand1">
                <path id="Vector_47" d="M39.1297 235.257C40.7296 231.884 33.3157 225.018 22.5703 219.921C11.8249 214.825 1.81702 213.428 0.217109 216.802C-1.3828 220.175 6.0311 227.041 16.7765 232.137C27.5219 237.234 37.5298 238.63 39.1297 235.257Z"
                  fill="#2F2E41" />
              </g>
              <path id="Vector_48" d="M47.027 261.55C47.027 265.765 57.8803 274.088 69.9236 274.088C81.9668 274.088 93.2587 262.221 93.2587 258.006C93.2587 253.791 81.9668 258.824 69.9236 258.824C57.8803 258.824 47.027 257.335 47.027 261.55Z"
                fill="white" />
              <g id="card1">
                <path id="Vector_49"
                  d="M110.524 81.5687C109.728 81.5696 108.966 81.8859 108.403 82.4483C107.841 83.0108 107.525 83.7733 107.524 84.5687V208.569C107.525 209.364 107.841 210.127 108.403 210.689C108.966 211.251 109.728 211.568 110.524 211.569H397.524C398.319 211.568 399.082 211.251 399.644 210.689C400.207 210.127 400.523 209.364 400.524 208.569V84.5687C400.523 83.7733 400.207 83.0108 399.644 82.4483C399.082 81.8859 398.319 81.5696 397.524 81.5687H110.524Z"
                  fill="#FFB000" />
                <path id="Vector_50" d="M188.018 175.69C204.101 175.69 217.139 162.652 217.139 146.569C217.139 130.486 204.101 117.448 188.018 117.448C171.935 117.448 158.897 130.486 158.897 146.569C158.897 162.652 171.935 175.69 188.018 175.69Z"
                  fill="white" />
                <path id="Path 40"
                  d="M253.744 142.694C252.85 142.709 251.999 143.074 251.372 143.711C250.745 144.348 250.394 145.206 250.394 146.099C250.394 146.992 250.745 147.85 251.372 148.487C251.999 149.124 252.85 149.489 253.744 149.504H345.689C346.137 149.512 346.581 149.431 346.997 149.267C347.414 149.103 347.793 148.858 348.115 148.547C348.437 148.236 348.694 147.865 348.872 147.454C349.05 147.044 349.145 146.602 349.153 146.155C349.16 145.708 349.079 145.263 348.915 144.847C348.75 144.431 348.505 144.051 348.194 143.73C347.883 143.409 347.511 143.152 347.101 142.974C346.69 142.796 346.248 142.701 345.801 142.694C345.764 142.694 345.727 142.694 345.689 142.694H253.744Z"
                  fill="white" />
                <path id="Path 40_2"
                  d="M253.744 122.967C252.85 122.982 251.999 123.347 251.372 123.984C250.745 124.621 250.394 125.478 250.394 126.372C250.394 127.265 250.745 128.123 251.372 128.76C251.999 129.397 252.85 129.762 253.744 129.777H299.659C300.107 129.784 300.551 129.704 300.967 129.54C301.383 129.375 301.763 129.131 302.085 128.82C302.407 128.509 302.664 128.138 302.842 127.727C303.02 127.317 303.115 126.875 303.123 126.428C303.13 125.98 303.049 125.536 302.885 125.12C302.72 124.704 302.475 124.324 302.164 124.003C301.853 123.681 301.481 123.424 301.071 123.247C300.66 123.069 300.218 122.974 299.771 122.967C299.734 122.966 299.696 122.966 299.659 122.967H253.744Z"
                  fill="white" />
                <path id="Path 40_3"
                  d="M253.744 163.361C252.85 163.375 251.999 163.741 251.372 164.378C250.745 165.014 250.394 165.872 250.394 166.766C250.394 167.659 250.745 168.517 251.372 169.154C251.999 169.791 252.85 170.156 253.744 170.17H345.689C346.137 170.178 346.581 170.098 346.997 169.933C347.414 169.769 347.793 169.525 348.115 169.214C348.437 168.903 348.694 168.531 348.872 168.121C349.05 167.71 349.145 167.269 349.153 166.822C349.16 166.374 349.079 165.93 348.915 165.514C348.75 165.098 348.505 164.718 348.194 164.397C347.883 164.075 347.511 163.818 347.101 163.641C346.69 163.463 346.248 163.368 345.801 163.361C345.764 163.36 345.727 163.36 345.689 163.361H253.744Z"
                  fill="white" />
              </g>
              <path id="Vector_51" d="M700.291 392.725C703.778 391.392 703.163 381.306 698.917 370.197C694.671 359.088 688.402 351.163 684.915 352.496C681.427 353.829 682.042 363.915 686.288 375.024C690.534 386.133 696.803 394.058 700.291 392.725Z"
                fill="#2F2E41" />
              <path id="Vector_52" d="M730.308 456.643C753.787 452.833 769.731 430.712 765.921 407.233C762.111 383.755 739.99 367.811 716.511 371.621C693.033 375.431 677.089 397.552 680.899 421.031C684.709 444.509 706.83 460.453 730.308 456.643Z"
                fill="#2F2E41" />
              <path id="Vector_53" d="M722.32 417.948C730.449 417.948 737.039 411.358 737.039 403.229C737.039 395.1 730.449 388.51 722.32 388.51C714.19 388.51 707.6 395.1 707.6 403.229C707.6 411.358 714.19 417.948 722.32 417.948Z" fill="white" />
              <path id="Vector_54" d="M722.32 408.135C725.029 408.135 727.226 405.939 727.226 403.229C727.226 400.519 725.029 398.323 722.32 398.323C719.61 398.323 717.413 400.519 717.413 403.229C717.413 405.939 719.61 408.135 722.32 408.135Z"
                fill="#3F3D56" />
              <path id="Vector_55" d="M774.356 388.165C781.421 378.599 784.715 369.046 781.712 366.828C778.708 364.609 770.546 370.566 763.48 380.132C756.415 389.699 753.121 399.252 756.124 401.47C759.127 403.688 767.29 397.731 774.356 388.165Z"
                fill="#2F2E41" />
              <path id="Vector_56" d="M702.397 436.339C702.397 432.865 711.342 426.005 721.268 426.005C731.194 426.005 740.5 435.785 740.5 439.259C740.5 442.733 731.194 438.585 721.268 438.585C711.342 438.585 702.397 439.813 702.397 436.339Z"
                fill="white" />
              <path id="Vector_57" opacity="0.2" d="M759.722 318.879L718.63 313.183L742.864 286.679L744.609 284.77L745.481 283.815L746.872 287.235L759.722 318.879Z" fill="black" />
              <g id="card2">
                <path id="Vector_58"
                  d="M844.177 378.542L608.431 345.861C606.593 345.604 604.932 344.628 603.813 343.148C602.693 341.668 602.206 339.804 602.459 337.966L628.961 146.794C629.218 144.956 630.193 143.295 631.673 142.175C633.153 141.056 635.017 140.569 636.855 140.821L872.601 173.503C874.439 173.76 876.1 174.735 877.22 176.215C878.339 177.695 878.826 179.559 878.573 181.397L852.072 372.569C851.815 374.407 850.839 376.068 849.359 377.188C847.879 378.307 846.015 378.794 844.177 378.542V378.542Z"
                  fill="#FFB000" />
                <path id="Vector_59"
                  d="M759.722 318.88L639.368 302.195C639.217 302.176 639.068 302.143 638.923 302.097L709.514 211.391C709.946 210.825 710.521 210.384 711.18 210.113C711.839 209.842 712.557 209.751 713.263 209.849C713.968 209.946 714.635 210.23 715.195 210.67C715.756 211.11 716.189 211.69 716.451 212.352L745.481 283.815L746.872 287.235L759.722 318.88Z"
                  fill="white" />
                <path id="Vector_60"
                  d="M826.735 328.169L722.638 313.739L746.872 287.235L748.616 285.325L780.195 250.785C780.741 250.266 781.39 249.868 782.099 249.616C782.809 249.364 783.564 249.264 784.314 249.323C785.065 249.382 785.795 249.597 786.457 249.957C787.119 250.316 787.698 250.81 788.156 251.408C788.271 251.576 788.376 251.751 788.469 251.932L826.735 328.169Z"
                  fill="white" />
                <path id="Vector_61" d="M761.186 242.184C771.127 242.184 779.186 234.125 779.186 224.184C779.186 214.242 771.127 206.184 761.186 206.184C751.245 206.184 743.186 214.242 743.186 224.184C743.186 234.125 751.245 242.184 761.186 242.184Z"
                  fill="white" />
                <path id="Vector_62" d="M662.669 158.538L640.877 155.517L637.856 177.309L659.648 180.33L662.669 158.538Z" fill="#3F3D56" />
              </g>
              <path id="Vector_63" d="M765.187 374.081C768.664 358.507 757.548 342.77 740.358 338.932C723.168 335.093 706.414 344.607 702.936 360.181C699.459 375.754 710.851 381.498 728.041 385.337C745.231 389.175 761.709 389.654 765.187 374.081Z"
                fill="#F2F2F2" />
              <g id="legs1">
                <path id="Vector_64" d="M743.035 447.932H729.952L732.512 476.005L743.058 473.14L743.035 447.932Z" fill="#2F2E41" />
                <path id="Vector_65" d="M714.512 448.005H701.428L703.988 476.078L714.058 473.14L714.512 448.005Z" fill="#2F2E41" />
                <path id="Vector_66" d="M703.616 477.397C709.622 476.958 714.357 474.776 714.192 472.524C714.028 470.272 709.026 468.802 703.02 469.241C697.014 469.68 692.279 471.862 692.444 474.114C692.609 476.366 697.611 477.836 703.616 477.397Z"
                  fill="#2F2E41" />
                <path id="Vector_67" d="M732.309 477.328C738.314 476.889 743.049 474.707 742.885 472.455C742.72 470.203 737.718 468.733 731.712 469.172C725.707 469.611 720.972 471.793 721.136 474.045C721.301 476.297 726.303 477.767 732.309 477.328Z"
                  fill="#2F2E41" />
              </g>
            </g>
            <defs>
              <clipPath id="clip0">
                <rect width="878.64" height="552.215" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </div>
      </div>
    </div>
    <div class="floating start">
      <div class="navstart">
        <button class="barbutton" onclick="slideit(0)">Blogs</button>
        <button class="barbutton" onclick="slideit(1)">Library</button>
        <button class="barbutton" onclick="slideit(2)">Connect</button>
      </div>
      <div class="slidebar"></div>
      <div class="info rere">
        Your very own platform for sharing your new ideas related to tech
      </div>
      <a href="/register">Get Started</a>
    </div>

    <div class="space"></div>

    <div style="text-align:center; padding-top: 20px; padding-left: 10px; padding-right:10px;padding-bottom:0px;">
      <h1 class="why">Why this website?</h1>
    </div>

    <svg height="0" width="0">
      <defs>
        <clipPath id="headercut">
          <path
            d="m-5.65526,348.02776l0,-48.63261l76.42585,-50.54834c98.62382,-65.23559 93.2517,-61.74023 96.79933,-62.84933c3.90238,-1.20993 7.04456,-1.20993 10.94694,0.03361c3.39558,1.10911 8.51428,4.3692 56.60986,36.19718c51.08572,33.77731 66.23912,43.69205 66.74592,43.69205c0.30408,0 1.41905,0.53775 2.48334,1.17632c4.3585,2.68874 9.7813,3.42815 14.34253,1.94934c2.78742,-0.90745 8.00748,-4.16755 11.65646,-7.2596c1.46972,-1.27715 3.54762,-2.8904 4.61191,-3.6298c1.06429,-0.7394 2.43265,-1.94934 3.04082,-2.65513c0.65884,-0.7394 1.31768,-1.34437 1.52041,-1.34437c0.20273,0 0.86156,-0.67219 1.46972,-1.51242c0.60816,-0.84023 1.26701,-1.51242 1.46972,-1.51242c0.15204,0 0.86156,-0.67219 1.57109,-1.51242c0.70952,-0.84023 1.41905,-1.51242 1.57109,-1.51242c0.20273,0 1.21633,-0.87384 2.28061,-1.91573c1.06429,-1.0755 2.07789,-2.01656 2.22993,-2.11738c0.20273,-0.10083 0.70952,-0.63858 1.16565,-1.24354c0.45612,-0.57136 1.16565,-1.24354 1.52041,-1.51242c0.35477,-0.23526 1.21633,-1.0755 1.87517,-1.88212c0.65884,-0.77301 1.36836,-1.41159 1.57109,-1.41159c0.20273,0 1.21633,-0.87384 2.28061,-1.91573c1.06429,-1.0755 2.07789,-2.01656 2.22993,-2.11738c0.20273,-0.10083 0.70952,-0.63858 1.16565,-1.24354c0.45612,-0.57136 1.16565,-1.24354 1.52041,-1.51242c0.35477,-0.23526 1.21633,-1.0755 1.87517,-1.88212c0.65884,-0.77301 1.36836,-1.41159 1.57109,-1.41159c0.20273,0 1.87517,-1.54603 3.80102,-3.42815c1.87517,-1.88212 3.75034,-3.6298 4.20646,-3.93228c0.45612,-0.30248 2.83809,-2.5543 5.32143,-5.04139c2.48334,-2.45348 4.8653,-4.73891 5.32143,-5.04139c0.45612,-0.30248 2.83809,-2.5543 5.32143,-5.04139c2.48334,-2.45348 4.8653,-4.73891 5.32143,-5.04139c0.45612,-0.30248 2.83809,-2.5543 5.32143,-5.04139c2.48334,-2.45348 4.8653,-4.73891 5.32143,-5.04139c0.45612,-0.30248 2.88878,-2.58791 5.37211,-5.075c2.48334,-2.48709 4.91599,-4.83973 5.47347,-5.20944c0.5068,-0.3697 3.0915,-2.82318 5.72686,-5.4447c2.58469,-2.62152 4.96666,-4.83973 5.22007,-4.97417c0.30408,-0.10083 1.82449,-1.51242 3.39558,-3.12566c1.57109,-1.61324 3.39558,-3.29371 4.05442,-3.76424c1.41905,-1.0755 7.80477,-7.39404 7.80477,-7.76374c0,-0.16805 1.46972,-0.30248 3.29421,-0.30248l3.29421,0l0.86226,121.99337l-0.86226,120.99337l-228.06123,2l-228.06123,-2l0,-49.63261l0.00002,-0.00001l-0.00001,0z"
            transform="rotate(180 259.33709716796875,277.1669921875) scale(1,0.6) translate(100,200)" stroke="null" />
          <rect height="200" width="500" y="0" x="0" />
          <path
            d="m-5.65526,348.02776l0,-48.63261l76.42585,-50.54834c98.62382,-65.23559 93.2517,-61.74023 96.79933,-62.84933c3.90238,-1.20993 7.04456,-1.20993 10.94694,0.03361c3.39558,1.10911 8.51428,4.3692 56.60986,36.19718c51.08572,33.77731 66.23912,43.69205 66.74592,43.69205c0.30408,0 1.41905,0.53775 2.48334,1.17632c4.3585,2.68874 9.7813,3.42815 14.34253,1.94934c2.78742,-0.90745 8.00748,-4.16755 11.65646,-7.2596c1.46972,-1.27715 3.54762,-2.8904 4.61191,-3.6298c1.06429,-0.7394 2.43265,-1.94934 3.04082,-2.65513c0.65884,-0.7394 1.31768,-1.34437 1.52041,-1.34437c0.20273,0 0.86156,-0.67219 1.46972,-1.51242c0.60816,-0.84023 1.26701,-1.51242 1.46972,-1.51242c0.15204,0 0.86156,-0.67219 1.57109,-1.51242c0.70952,-0.84023 1.41905,-1.51242 1.57109,-1.51242c0.20273,0 1.21633,-0.87384 2.28061,-1.91573c1.06429,-1.0755 2.07789,-2.01656 2.22993,-2.11738c0.20273,-0.10083 0.70952,-0.63858 1.16565,-1.24354c0.45612,-0.57136 1.16565,-1.24354 1.52041,-1.51242c0.35477,-0.23526 1.21633,-1.0755 1.87517,-1.88212c0.65884,-0.77301 1.36836,-1.41159 1.57109,-1.41159c0.20273,0 1.21633,-0.87384 2.28061,-1.91573c1.06429,-1.0755 2.07789,-2.01656 2.22993,-2.11738c0.20273,-0.10083 0.70952,-0.63858 1.16565,-1.24354c0.45612,-0.57136 1.16565,-1.24354 1.52041,-1.51242c0.35477,-0.23526 1.21633,-1.0755 1.87517,-1.88212c0.65884,-0.77301 1.36836,-1.41159 1.57109,-1.41159c0.20273,0 1.87517,-1.54603 3.80102,-3.42815c1.87517,-1.88212 3.75034,-3.6298 4.20646,-3.93228c0.45612,-0.30248 2.83809,-2.5543 5.32143,-5.04139c2.48334,-2.45348 4.8653,-4.73891 5.32143,-5.04139c0.45612,-0.30248 2.83809,-2.5543 5.32143,-5.04139c2.48334,-2.45348 4.8653,-4.73891 5.32143,-5.04139c0.45612,-0.30248 2.83809,-2.5543 5.32143,-5.04139c2.48334,-2.45348 4.8653,-4.73891 5.32143,-5.04139c0.45612,-0.30248 2.88878,-2.58791 5.37211,-5.075c2.48334,-2.48709 4.91599,-4.83973 5.47347,-5.20944c0.5068,-0.3697 3.0915,-2.82318 5.72686,-5.4447c2.58469,-2.62152 4.96666,-4.83973 5.22007,-4.97417c0.30408,-0.10083 1.82449,-1.51242 3.39558,-3.12566c1.57109,-1.61324 3.39558,-3.29371 4.05442,-3.76424c1.41905,-1.0755 7.80477,-7.39404 7.80477,-7.76374c0,-0.16805 1.46972,-0.30248 3.29421,-0.30248l3.29421,0l0.86226,121.99337l-0.86226,120.99337l-228.06123,2l-228.06123,-2l0,-49.63261l0.00002,-0.00001l-0.00001,0z"
            transform="rotate(180 259.33709716796875,277.1669921875) scale(1,0.6) translate(100,150)" stroke="null" />
        </clipPath>
      </defs>
    </svg>

    <div class="fro">
      <div class="row">
        <div class="column-66">
          <h1 class="xlarge-font topics"><b>The Connect</b></h1>
          <h1 class="large-font" style="color:MediumSeaGreen;"><b>Connect with whom?</b></h1>
          <p class="paras paras2">
            An innovative purpose of this website which allows you to know about other students of the college without meeting them in person.
            The intention of this page is to enhance the connectivity among students with the same area of interest, state, department, and year.
          </p><br>
          <button class="button2"><a href="/connect">Connect Me</a></button>
        </div>
        <div class="column-33">
          <img class="startImage2" id="mama" src="img/start/connect.jpeg" alt="connect">
        </div>
      </div>
    </div>

    <br>

    <div class="fro" style="background: linear-gradient(30deg, var(--primary-color) 0%, var(--secondary-grad) 100%);">
      <div class="row">
        <div class="column-33">
          <img class="startImage" src="img/start/blog.jpeg" alt="blogs">
        </div>
        <div class="column-66">
          <h1 class="xlarge-font topics"><b>Blog</b></h1>
          <h1 class="large-font" style="color:#df1433;"><b>Which kind of Blogs?</b></h1>
          <p class="paras">
            A service that allows you to share your tech-related ideas and read out other's innovative thoughts which will not only help you to enhance your skills but also better understanding about the author.
            So unleash your imagination and write something that inspires the society.
          </p><br>
          <button class="button2" style="background-color: #df1433;"><a href="/front">View Blogs</a></button>
        </div>
      </div>
    </div>

    <br>

    <div class="fro">
      <div class="row">
        <div class="column-66">
          <h1 class="xlarge-font topics"><b>The Library</b></h1>
          <h1 class="large-font" style="color:MediumSeaGreen;"><b>Why this?</b></h1>
          <p class="paras paras2">
            An e-library particularly for engineering students, where all your academics needs will be fulfilled.
            Here you will find all the books, materials, notes, question papers, and what not, shared by any of the students or professors of IIEST shibpur.
            Now you don't have to mess around here and there for exams.
          </p><br>
          <button class="button2"><a href="/library">Open Library</a></button>
        </div>
        <div class="column-33">
          <img class="startImage" id="libraryimage" src="/img/liboo.jpg" alt="library">
        </div>
      </div>
    </div>

  </div>
</div>

<%- include('layouts/foot.ejs') %>
