<%- include('layouts/head.ejs') %>

<link rel="stylesheet" href="css\team.css">
<link rel="stylesheet" href="css\start.css">
<link rel="stylesheet" href="css\lib.css">
<div id="content">
  <div class="container">
    <header class=" header23">
      <div class="text-box">
        <h1 class="qwer">Our team</h1>
      </div>
    </header>

    <div class="row teamcard">
      <div class="column11">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="img\sm.jpeg">
          </div>
          <div class="team-content">
            <h3 class="name">Sujal Modanwal</h3>
            <h4 class="title">Web Developer</h4>
          </div>
          <ul class="social">
            <li><a href="https://www.facebook.com/sujal.modanwal.1" class="fab fa-facebook" aria-hidden="true" target="_blank"></a></li>
            <li><a href="#" class="fab fa-twitter" aria-hidden="true" target="_blank"></a></li>
            <li><a href="#" class="fas fa-envelope" aria-hidden="true" target="_blank"></a></li>
            <li><a href="#" class="fab fa-github" aria-hidden="true" target="_blank"></a></li>
            <li><a href="#" class="fab fa-linkedin" aria-hidden="true" target="_blank"></a></li>
          </ul>
        </div>
      </div>
      <div class="column11">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="img\rh.jpg">
          </div>
          <div class="team-content">
            <h3 class="name">Rohan Gupta</h3>
            <h4 class="title">Web Developer</h4>
          </div>
          <ul class="social">
            <li><a href="#" class="fab fa-facebook" aria-hidden="true" target="_blank"></a></li>
            <li><a href="#" class="fab fa-twitter" aria-hidden="true" target="_blank"></a></li>
            <li><a href="#" class="fas fa-envelope" aria-hidden="true" target="_blank"></a></li>
            <li><a href="#" class="fab fa-github" aria-hidden="true" target="_blank"></a></li>
            <li><a href="#" class="fab fa-linkedin" aria-hidden="true" target="_blank"></a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>

<%- include('layouts/foot.ejs') %>
