<%- include('layouts/head.ejs') %>

<link rel="stylesheet" href="css\team.css">
<link rel="stylesheet" href="css\start.css">
<link rel="stylesheet" href="css\lib.css">
<div id="content">
  <div class="container">
    <header class=" header23" id="team-header" title="https://unsplash.com/@charles_forerunner">
      <div class="text-box">
        <h1 class="qwer">Team</h1>
      </div>
    </header>

    <div class="teamcard">
      <div class="column11">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="img\sm.jpeg">
          </div>
          <div class="team-content">
            <h3 class="name">Sujal Modanwal</h3>
            <h4 class="title">Web Developer</h4>
          </div>
          <ul class="social">
            <li><a href="https://www.facebook.com/sujal.modanwal.1" class="fab fa-facebook" aria-hidden="true" target="_blank"></a></li>
            <li><a href="https://twitter.com/ModanwalSujal" class="fab fa-twitter" aria-hidden="true" target="_blank"></a></li>
            <li><a href="mailto:sujalmodanwal9@gmail.com" class="fas fa-envelope" aria-hidden="true" target="_blank"></a></li>
            <li><a href="https://github.com/sujal-ux" class="fab fa-github" aria-hidden="true" target="_blank"></a></li>
            <li><a href="https://www.linkedin.com/in/sujal-modanwal-2812821b4" class="fab fa-linkedin" aria-hidden="true" target="_blank"></a></li>
          </ul>
        </div>
      </div>
      <div class="column11">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="img\rh.jpg">
          </div>
          <div class="team-content">
            <h3 class="name">Rohan Gupta</h3>
            <h4 class="title">Web Developer</h4>
          </div>
          <ul class="social">
            <li><a href="https://codepen.io/GLitch_cube" class="fab fa-codepen" aria-hidden="true" target="_blank"></a></li>
            <li><a href="https://twitter.com/Blueedge12" class="fab fa-twitter" aria-hidden="true" target="_blank"></a></li>
            <li><a href="mailto:blueedgetechno@gmail.com" class="fas fa-envelope" aria-hidden="true" target="_blank"></a></li>
            <li><a href="https://github.com/blueedgetechno" class="fab fa-github" aria-hidden="true" target="_blank"></a></li>
            <li><a href="https://www.linkedin.com/in/rohan-gupta-07442917b/" class="fab fa-linkedin" aria-hidden="true" target="_blank"></a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>

<%- include('layouts/foot.ejs') %>
