<%- include('layouts/head.ejs') %>

<link rel="stylesheet" href="css\start.css">
<link rel="stylesheet" href="css\lib.css">
<link rel="stylesheet" href="css\lib2.css">

<div id="content">
  <div class="container">
    <header class=" header23">
      <div class="text-box">
        <h1 class="qwer" style="font-size: 40px; margin-left: 230px;">Terms and Conditions</h1>
      </div>
    </header>

    <p style="margin-left:5%; margin-top:5%; font-size: 20px; font-weight: 500;">
      Last updated: (add date)<br><br>
      Please read these Terms and Conditions ("Terms", "Terms and Conditions") carefully before using
      the http://www.mywebsite.com<br>
      (change this) website and the My Mobile App (change this) mobile application (the "Service")
      operated by My Company (change this)<br>
      ("us", "we", or "our").Your access to and use of the Service is conditioned on your acceptance
      of and compliance with these Terms. <br>
      These Terms apply to all visitors, users and others who access or use the Service.
      <br><br><br><strong> By accessing or using the Service you agree to be bound by these Terms.
        If you disagree with any part of the terms then <br>you may not access the Service.</strong><br></p>
    <h2 style="margin-left:5%; font-size: 30px;"> Content </h2>
    <p style="margin-left:5%; font-size: 20px; font-weight: 500;">
      Our Service allows you to post, link, store, share and otherwise make available certain information,
      text, graphics, videos, or other<br> material ("Content").
    </p>
    <h2 style="margin-left:5%; font-size: 30px;"> Contact Us</h2>
    <p style="margin-left:5%;font-size: 20px; font-weight: 500;">
      If you have any questions about these Terms, please contact us.</p>
<br><br><br><br><br><br>

  </div>
</div>


<%- include('layouts/foot.ejs') %>
