@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

:focus {
  outline: none;
}

.parent {
  height: auto;
  margin: 0 0 40px 0;
  font-family: Raleway, sans-serif;
}

.baby {
  width: 1000px;
  max-width: 95%;
  margin: 20px auto;
  color: #464646;
  /* border: 2px solid silver; */
}

#headerconnect {
  background-image: linear-gradient(to right bottom, var(--header-gradient-one), var(--header-gradient-two)), url(/img/connect.jpg);
  background-position-y: -150px;
  background-size: cover;
  background-attachment: fixed;
}

summary {
  display: flex;
  align-items: center;
  margin-top: 12px;
  background: var(--background-dim);
  padding: 10px 20px;
  width: 1000px;
  max-width: 100%;
  font-size: 19px;
  z-index: 1;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 5px 3px 10px var(--shadow);
  transition: 0.5s;
}

.wesr {
  position: absolute;
  width: 1000px;
  transform: scale(1, 0);
  background: var(--background-dim);
  padding: 30px;
  border-radius: 0 0 20px 20px;
  font-size: 15px;
  line-height: 1.3;
  text-align: justify;
  z-index: 2;
  box-shadow: 5px 6px 7px var(--shadow);
  transform-origin: top;
  transition: 0s;
}

.wesr h5 {
  color: #1bc2a1;
}

.wesr>* {
  visibility: hidden;
}

.baby:hover>summary {
  border-radius: 20px 20px 0 0;
}

summary img {
  width: 40px;
  border-radius: 50%;
}

summary span {
  margin-left: 20px;
  color: var(--text-dim);
}

.summaryselected {
  border-radius: 20px 20px 0 0;
}

.wesrselected {
  position: relative !important;
  width: 1000px;
  max-width: 100%;
  transform: scale(1);
  transition: 0.5s;
}

.wesrselected>* {
  visibility: visible;
}

.baby:hover>.wesr>* {
  visibility: visible;
}

.wesr p {
  font-weight: 500;
  color: var(--text);
}

button {
  float: right;
  background: #0288d1;
  border: 0;
  padding: 11px;
  margin: -6px -6px 0 0;
  color: #fff;
  border-radius: 4px;
  cursor: pointer
}

button:hover {
  background: #01579b
}

@media screen and (max-width: 3000px) {
  summary:hover+.wesr {
    position: relative;
    width: 1000px;
    max-width: 100%;
    transform-origin: top;
    transform: scale(1);
    transition: 0.5s;
  }
}

@media screen and (max-width: 650px) {
  .baby {
    width: 350px;
    /* border: 2px solid silver; */
  }

  img {
    margin: 0;
  }

  summary {
    width: 350px;
  }

  .wesr {
    width: 380px;
  }
}
