@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  margin: 0;
  padding: 0;
  /* background-image: linear-gradient(29deg, #512ea6 50%, #6739b8 50%); */
  font-family: 'Montserrat', sans-serif;
}

h3 {
  text-align: center;
  color: #719BE6;
}

* {
  box-sizing: border-box;
}

.img1 {
  display: block;
  width: 80px;
  margin: 0 auto;
  filter: drop-shadow(1px 1px 1px #d7d7d7);
  border-radius: 50%;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 400px;
  margin: 50px auto 10px auto;
  padding: 30px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 2px 3px 9px 0px #999999b3;
  text-align: center;
  height: 450px;
  z-index: 5;
}

.google-auth button {
  border-radius: 100px;
  border: none;
  background: #1b6cfc;
  width: 50%;
  margin: 25px auto;
  padding: 10px;
  color: #fcfcfc;
  font-size: 17px;
  box-shadow: 0 2px 10px -3px #709ae6;
  display: block;
  outline: none;
  cursor: pointer;
}

.google-auth:nth-child(5) button {
  background: #ff1641;
  box-shadow: 0 2px 10px -3px #d64b4b;
}

.google-auth button a {
  text-decoration: none;
  color: white;
  font-size: 17px;
}

.img2 {
  display: inline-block;
  width: 23px;
  margin-bottom: -6px;
  margin-left: 8px;
  box-shadow: 0 5px 10px -7px #333333;
  border-radius: 50%;
}

.loginoptional {
  font-size: larger;
  font-weight: 500;
  color: #4f4f4f;
}

.loginbox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.logincard {
  display: flex;
  flex-direction: column;
  min-width: 330px;
  width: 25%;
  height: auto;
  margin-top: 50px;
  padding: 25px;
  box-shadow: 6px 6px 13px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background: white;
  z-index: 1;
}

.err {
  text-align: center;
  margin: 20px 0px 0px 0;
  /* text-transform: uppercase; */
  font-weight: 550;
  color: red;
}

.agree {
  align-self: center;
  margin-bottom: 10px;
  font-size: 0.7em;
  font-weight: 600;
  width: 80%;
  color: #595959;
}

@media screen and (max-width: 650px) {
  .logincard {
    margin-top: 10px;
    transform: scale(0.9);
  }

  .form {
    width: 300px;
    text-align: center;
  }
}

a {
  text-decoration: none;
}

.sub {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
}

.wave {
  position: absolute;
  width: 100%;
  bottom: 20px;
  overflow: hidden;
  filter: drop-shadow(0 -4px 3px rgba(85, 85, 85, 0.25));
  animation: updown 3s linear infinite;
}

.wave2 {
  animation-duration: 4s;
}

.wave3 {
  animation-duration: 5s;
}

.wave4 {
  animation-duration: 6s;
}

.needhelp {
  margin-top: 0px;
  font-weight: 600;
  color: #0732cf;
}

.coverup {
  position: absolute;
  width: 100%;
  height: 28px;
  bottom: 20px;
  overflow-y: hidden;
  animation: upcover 3s linear infinite;
}

@media screen and (max-width: 650px) {
  .google-auth button {
    width: 70%;
  }
}

@keyframes updown_ {
  0% {
    transform: translateY(20px);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(20px);
  }
}

@keyframes upcover_ {
  0% {
    height: 20px;
  }

  50% {
    height: 48px;
  }

  100% {
    height: 20px;
  }
}
