@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

header2 {
  text-align: center;
  width: 100%;
  height: auto;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
}

header2 .overlay {
  width: 100%;
  height: 100%;
  padding: 50px;
  color: #FFF;
  text-shadow: 1px 1px 1px #333;
  background-image: linear-gradient(135deg, #9f05ff69 10%, #fd5e086b 100%);
}

header2 h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 80px;
  margin-bottom: 30px;
}

header2 h3 {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 30px;
}

header2 p {
  font-weight: 400;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
}

header3 button {
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 50px;
  color: #333;
  background: #fff;
  margin-bottom: 50px;
  box-shadow: 0 3px 20px 0 #0000003b;
}

header3 button:hover {
  cursor: pointer;
}

.wert{
  /* float: center;
  padding: 40px; */
  margin-left: 35%;
  margin-bottom: 40px;
}
