body[theme="light"] {
  --header-gradient-one: rgba(76, 216, 255, 0.8);
  --header-gradient-two: rgba(30, 108, 217, 0.8);
}

body[theme="dark"] {
  --header-gradient-one: rgba(0, 0, 0, 0.8);
  --header-gradient-two: rgba(0, 0, 0, 0.8);
}

.yaya {
  background-color: var(--background);
  min-height: 100vh;
  padding: 40px;
  width: 100%;
}

.usercard {
  box-sizing: border-box;
  display: block;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  /* flex-direction: column; */
  background-color: var(--background-dim);
  margin: auto;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

@media screen and (min-width: 641px) {
  .usercard {
    width: 60%;
  }
}

@media screen and (max-width: 640px) {
  .usercard {
    width: 90%;
  }
}

.usercard_body {
  padding-bottom: 2rem;
  flex-grow: 2;
  color: #000;
}

.usercard_header {
  background-image:
    linear-gradient(to right bottom,
      var(--header-gradient-one),
      var(--header-gradient-two)),
    url('/img/3496602.jpg');
  background-size: cover;
  background-position: top;
  position: relative;
  padding: 3rem 5% 2rem;
  display: flex;
  align-items: center;
  border-radius: 10px 10px 0 0;
  /* background-image: linear-gradient(to bottom, #3F51B5, #041886);
  color: #fff; */
}

.usercard_image {
  border-radius: 50%;
  border: 2px solid #fff;
  box-sizing: border-box;
  margin-right: 4%;
  width: 10rem;
  height: 10rem;
}

.usercard_name {
  font-size: 3.5rem;
  font-weight: 700;
  margin-top: 0;
  margin-left: 15px;
  margin-bottom: 0;
  color: white;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, .4);
  font-family: Raleway, sans-serif;
}

.about2 {
  min-height: 25rem;
  padding: 15px 25px 15px 25px;
  background: var(--background);
  color: var(--text);
}

.baby2 {
  width: 90%;
  align-self: center;
  max-width: 95%;
  margin: 20px auto;
  color: #464646;
  /* border: 2px solid silver; */
}

.lolo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  background: var(--background-dim);
  padding: 0px 20px;
  width: 100%;
  max-width: 100%;
  font-size: 12px;
  z-index: 1;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 2px 1px 8px rgb(28 28 28 / 45%);
  transition: 0.5s;
}

.lolo *{
  color: var(--text);
}

.lolo .fa {
  color: #e42f2f;
}

.baby2 :hover {
  transform: scale(1.05);
}

p {
  font-weight: 300;
}
