@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

html {
  box-sizing: border-box;
}

body {
  align-items: center;
  font-family: Raleway, sans-serif;
  background: var(--background);
}

*, *:before, *:after {
  box-sizing: inherit;
}

.header3{
  height: 70vh;
  background-image:
  linear-gradient(to right bottom,
     rgba(76, 216, 255, 0.8),
     rgba(30, 108, 217, 0.8)),
     url('/img/3496602.jpg');
     background-size: cover;
     background-position: top;
     position: relative;
     clip-path: polygon(0 0, 100% 0,100% 60vh, 0 100%);
}

.brand-box{
  position: absolute;
  top: 40px;
  left: 40px;
}

.brand{
  font-size: 20px;
  color: white;
}

.text-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% ,-50%);
  text-align: center;
}

.btn:link,
.btn:visited{
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: relative;
}

.btn:hover{
  transform: translateY(-3px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
.btn:active{
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white{
  font-size: 14px;
  background-color: #fff;
  color: #777;
}


.qwer{
      grid-area: 2 / 1 / 2 / 3;
      align-self: center;
      justify-self: center;
      color: white;
      text-transform: uppercase;
      font-size: 4rem;
      text-shadow: 0px 2px 4px rgba(0,0,0,.4);
      margin-top: -5rem;
}


.column11 {
  float: left;
  min-width: 400px;
  width: 25%;
  margin: 0 15%;
  margin-bottom: 16px;
  margin-top: 16px;
  padding: 50px;
}

.column12 {
  float: left;
  min-width: 400px;
  width: 25%;
  margin-bottom: 16px;
  margin-top: 16px;
  margin-right: 90px;
  padding: 50px;
}

.our-team {
  padding: 30px 0 40px;
  box-shadow: 0 0 12px 2px grey;
  margin-bottom: 30px;
  background-color: #f7f5ec;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.our-team .picture {
  display: inline-block;
  height: 0;
  width: 75%;
  padding-bottom: 75%;
  margin-bottom: 50px;
  z-index: 0;
  position: relative;
}

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: orange;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: orange;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}

.our-team .title {
  display: block;
  font-size: 15px;
  color: #4e5052;
  text-transform: capitalize;
}

.our-team .social {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: orange;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.our-team:hover .social {
  bottom: 0;
}

.our-team .social li {
  display: inline-block;
}

.our-team .social li a {
  display: block;
  padding: 10px;
  font-size: 17px;
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.our-team .social li a:hover {
  color: orange;
  background-color: white;
}

@media screen and (max-width: 650px) {

  .column11,
  .column12 {
    width: 100%;
    margin: 0;
    padding-top: 100px;
    padding-bottom: 12px;
    padding-left: 22px;
    padding-right: 22px;
    display: block;
  }

  .brand-box{
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .brand{
    font-size: 12px;
    color: white;
  }

  .qwer{
    font-size:3rem;
    /* margin-top: px; */
  }

}
