* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.fro {
  padding: 120px;
}

.row:after {
  content: "";
  display: table;
  clear: both
}

.column-66 {
  float: left;
  width: 66.66666%;
  padding: 20px;
}

.column-33 {
  float: left;
  width: 33.33333%;
  padding: 20px;
}

.large-font {
  font-size: 48px;
}

.xlarge-font {
  font-size: 64px;
}

.button2 {
  border: none;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4CAF50;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

@media screen and (max-width: 650px) {

  .column-66,
  .column-33 {
    width: 100%;
    text-align: center;
  }

  img {
    margin: auto;
  }

  .fro {
    padding: 10px;
  }
}

.mySlides {
  display: none;
  padding: 10px;
}

img {
  vertical-align: middle;
}

.slideshow-container {
  max-width: 1000px;
  /* min-width: 106.8%; */
  position: relative;
  margin: auto;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 100%;
  display: inline-block;
}

.active {
  background-color: var(--active-highlight);
}

@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px
  }
}
